example-flows/demoflow.json
[
    {
        "id": "e985f9e.3f46208",
        "type": "tab",
        "label": "OADR Logic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a421227f.88148",
        "type": "tab",
        "label": "OADR Dash",
        "disabled": false,
        "info": ""
    },
    {
        "id": "703c9010.799ad",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            }
        },
        "site": {
            "name": "OCPP Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 1,
                "cx": 6,
                "cy": 1,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b02bb65.6ebb948",
        "type": "ui_group",
        "z": "",
        "name": "Other Cmds",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "c56dd6ac.87ef68",
        "type": "ocpp-remote-cp",
        "z": 0,
        "name": "Chargion6D94 1.5s",
        "cbId": "Chargion6D94",
        "url": "http://130.202.169.51:8000/ws/chargePoint",
        "ocppver": "1.5s"
    },
    {
        "id": "e4342b03.33cf08",
        "type": "ocpp-remote-cp",
        "z": "",
        "name": "Veefil 1.5",
        "cbId": "Veefil-36810",
        "url": "http://130.202.169.32:8000",
        "ocppver": "1.5s"
    },
    {
        "id": "27b4c03c.8f33f",
        "type": "ocpp-remote-cp",
        "z": 0,
        "name": "",
        "cbId": "EVoCharge30A",
        "url": "http://130.202.169.25:8000",
        "ocppver": "1.5s"
    },
    {
        "id": "80076193.ad802",
        "type": "ocpp-remote-cs",
        "z": 0,
        "name": "Localhost 8833 1.5",
        "url": "http://localhost:8833/CentralSystemService15"
    },
    {
        "id": "d9f0d4c6.c87a38",
        "type": "ocpp-remote-cp",
        "z": "",
        "name": "",
        "cbId": "CPCharlie",
        "url": "http://localhost:8834/CentralSystemService15",
        "ocppver": "1.5s"
    },
    {
        "id": "dcbcdb59.f6c2b8",
        "type": "ui_group",
        "z": "",
        "name": "Tritium 1",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "b71675e5.e041b8",
        "type": "ui_group",
        "z": "",
        "name": "Tritium 2",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ac036045.8afef",
        "type": "ui_group",
        "z": "",
        "name": "Chargion 1",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1543b5ce.1defca",
        "type": "ui_group",
        "z": "",
        "name": "Chargion 2",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6"
    },
    {
        "id": "48d1b8b.f50e348",
        "type": "websocket-client",
        "z": "",
        "path": "ws://localhost:8080/",
        "wholemsg": "false"
    },
    {
        "id": "34770b67.cac824",
        "type": "websocket-listener",
        "path": "/ws/stations",
        "wholemsg": "false"
    },
    {
        "id": "b8d50fa.e39ecf",
        "type": "websocket-client",
        "z": "",
        "path": "wss://echo.websocket.org",
        "wholemsg": "true"
    },
    {
        "id": "5be76c49.ca7974",
        "type": "websocket-listener",
        "z": "",
        "path": "wss://echo.websocket.org",
        "wholemsg": "false"
    },
    {
        "id": "e3b3e3dd.b9883",
        "type": "websocket-listener",
        "z": "",
        "path": "ws://localhost:8080",
        "wholemsg": "false"
    },
    {
        "id": "8e93bc9.899704",
        "type": "websocket-client",
        "path": "wss://echo.websocket.org",
        "wholemsg": "false"
    },
    {
        "id": "4a7b0ca3.4c5c64",
        "type": "websocket-client",
        "z": "",
        "path": "ws://localhost:8833/ocppj/MyCP",
        "wholemsg": "false"
    },
    {
        "id": "25f9cb2b.6d4c14",
        "type": "ui_group",
        "z": "",
        "name": "Unused",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1c2f9b12.1fbed5",
        "type": "ui_group",
        "z": "",
        "name": "EngeryGraph",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "8b79e52b.3f4f28",
        "type": "ocpp-remotej-cp",
        "z": "",
        "name": "Veefil",
        "cbId": "veefil-38610",
        "ocppver": "1.6j"
    },
    {
        "id": "38d9cf3.ae0a13",
        "type": "ocpp-remote-cs",
        "z": "",
        "name": "Local 8833 1.6s",
        "url": "http://localhost:8833/CentralSystemService16"
    },
    {
        "id": "a677587.33f64a8",
        "type": "ocpp-remote-cs",
        "z": "",
        "name": "localhost:8833",
        "url": "ws://localhost:8833/ocppj"
    },
    {
        "id": "c626bb12.db5aa8",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "15e2d246.70e80e",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "c626bb12.db5aa8",
        "order": 1,
        "disp": false,
        "width": "12"
    },
    {
        "id": "56e02f21.2a3b4",
        "type": "ui_group",
        "z": "",
        "name": "Group 2",
        "tab": "c626bb12.db5aa8",
        "order": 2,
        "disp": false,
        "width": "12"
    },
    {
        "id": "8e8923c9.1c11b",
        "type": "tls-config",
        "z": "",
        "name": "oadr.ioc.anl.gov",
        "cert": "F:\\Projects\\CSS\\Argonne\\OpenADR\\OADR2_VEN\\oadr2\\ssl\\node.css.ven.cert.pem",
        "key": "F:\\Projects\\CSS\\Argonne\\OpenADR\\OADR2_VEN\\oadr2\\ssl\\node.css.ven.key.pem",
        "ca": "F:\\Projects\\CSS\\Argonne\\keys\\node.css.ven\\ca.cert.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": false
    },
    {
        "id": "6b4d5a6b.36b6d4",
        "type": "tls-config",
        "z": "",
        "name": "Uploaded",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "node.css.ven.cert.pem",
        "keyname": "node.css.ven.key.pem",
        "caname": "ca-chain.cert.pem",
        "verifyservercert": false
    },
    {
        "id": "a119d58.fe33328",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "QueryRegistration",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 207.25009155273437,
        "y": 556.6500244140625,
        "wires": [
            [
                "ea0d5f62.41272"
            ]
        ]
    },
    {
        "id": "5a1a16a7.1fb148",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "CreatePartyRegistration",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 217.50006103515625,
        "y": 598.25,
        "wires": [
            [
                "ea0d5f62.41272"
            ]
        ]
    },
    {
        "id": "2dfa88f4.549d58",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "RequestEvent",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 188.25003051757812,
        "y": 763.7499389648437,
        "wires": [
            [
                "ea0d5f62.41272"
            ]
        ]
    },
    {
        "id": "398a5389.d25fcc",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "Single Poll",
        "topic": "",
        "payload": "Poll",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 187.50015258789062,
        "y": 867.2499389648437,
        "wires": [
            [
                "ea0d5f62.41272"
            ]
        ]
    },
    {
        "id": "8931ca86.3c1478",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "CancelPartyRegistration",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 228.50009155273437,
        "y": 682,
        "wires": [
            [
                "ea0d5f62.41272"
            ]
        ]
    },
    {
        "id": "cf628580.98faf8",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload.data",
        "x": 839.9999389648437,
        "y": 305.79998779296875,
        "wires": []
    },
    {
        "id": "a64ef248.61c3d",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 530,
        "y": 65.79998016357422,
        "wires": []
    },
    {
        "id": "54f347c0.7974a8",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "venID",
        "topic": "",
        "payload": "CSS_BLACKLAB_NODE:IDs.venID",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 985.75,
        "y": 553.9000244140625,
        "wires": [
            [
                "7d7c82c7.d633bc"
            ]
        ]
    },
    {
        "id": "7d7c82c7.d633bc",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1182.75,
        "y": 588.5499877929687,
        "wires": []
    },
    {
        "id": "db00aff6.50735",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "vtnID",
        "topic": "",
        "payload": "CSS_BLACKLAB_NODE:IDs.vtnID",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 984.5,
        "y": 603.5000305175781,
        "wires": [
            [
                "7d7c82c7.d633bc"
            ]
        ]
    },
    {
        "id": "39d5f970.5dbf76",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "registrationID",
        "topic": "",
        "payload": "CSS_BLACKLAB_NODE:IDs.registrationID",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 967.75,
        "y": 646.75,
        "wires": [
            [
                "7d7c82c7.d633bc"
            ]
        ]
    },
    {
        "id": "5ea8f31e.7765cc",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "x",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1043.75,
        "y": 58.27222442626953,
        "wires": []
    },
    {
        "id": "777b6f93.40cc",
        "type": "switch",
        "z": "e985f9e.3f46208",
        "name": "Switch responseTypes",
        "property": "oadr.responseType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "oadrCreatedPartyRegistration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrResponse",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrDistributeEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrRegisterReport",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrCanceledPartyRegistration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrCreatedOpt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrCanceledOpt",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 7,
        "x": 534,
        "y": 306.449951171875,
        "wires": [
            [
                "cf628580.98faf8",
                "360217e2.c33e08"
            ],
            [
                "cf628580.98faf8"
            ],
            [
                "cf628580.98faf8",
                "3c604b33.545a34",
                "a10e22e6.4f041"
            ],
            [
                "cf628580.98faf8",
                "4dd8a5f7.511a6c"
            ],
            [
                "cf628580.98faf8",
                "879a6535.9064b8"
            ],
            [],
            []
        ]
    },
    {
        "id": "29e2b5dd.631a8a",
        "type": "comment",
        "z": "e985f9e.3f46208",
        "name": "Registration requests",
        "info": "",
        "x": 217.50009155273437,
        "y": 516.6900024414062,
        "wires": []
    },
    {
        "id": "ea0d5f62.41272",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "convert simple payload string to requestType",
        "func": "let req = msg.payload;\nmsg.payload = {};\nmsg.payload.requestType = req;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 587.2501525878906,
        "y": 556.9500122070312,
        "wires": [
            [
                "a8cb66ac.9fbc88"
            ]
        ]
    },
    {
        "id": "3c604b33.545a34",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "Handle DistributeEvents",
        "func": "let data = msg.payload.data.oadrDistributeEvent;\n\nlet respMsg = {};\nrespMsg.payload = {};\nrespMsg.payload.requestID = data.requestID;\n//respMsg.payload.venID = '48ac6ed956e1f1f4fdbe';\n\nif(data.responseRequired === 'never'){\n    // don't repsone to broadcast messages\n    return;\n}\n\nrespMsg.payload.requestType = \"CreatedEvent\";\n\nlet eventArray = [];\n\nif(data.oadrEvent){\n    //console.log(data.oadrEvent.length);\n    if (data.oadrEvent.eiEvent){\n        xyz(data.oadrEvent);\n    }\n    else{\n        data.oadrEvent.forEach( event => {\n            xyz(event);\n        });\n    }\n    \n    if(eventArray.length > 0){\n        respMsg.payload.eventResponses = eventArray;\n    }\n    \n}\n\nfunction xyz(event){\n    // Don't respond if not requested\n    if (event.oadrResponseRequired === 'never'){\n        return;\n    }\n    \n    let optType;\n    \n    let ed = event.eiEvent.eventDescriptor;\n    \n    switch(ed.eventStatus.toLowerCase()){\n        case('completed'):\n        case('canceled'):\n            optType = 'optOut';\n            break;\n        default: \n            optType = 'optIn';\n            break;\n    }\n    \n    if(optType === 'optIn'){\n        switch(ed.eiMarketContext.marketContext.toLowerCase()){\n            case('demand_response'):\n            case('http://marketcontext1'):\n                break;\n            default:\n                optType = 'optOut';\n                break;\n        }\n    }\n    \n    optType = (ed.eventStatus.toLowerCase() === 'completed' )? 'optOut' : 'optIn';\n    \n    \n    let createdEvent = {\n    responseCode: 200,\n    responseDescription: 'OK',\n    //requestID: '11111111',\n    qualifiedEventID : {\n        eventID: ed.eventID,\n        modificationNumber: ed.modificationNumber\n    },\n    optType: optType\n    };\n    \n    // console.log(createdEvent);\n    eventArray.push(createdEvent);\n//        respMsg.payload.eventResponses.push(createdEvent);\n\n}\n\nreturn respMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 859.83349609375,
        "y": 102.69998168945312,
        "wires": [
            [
                "5ea8f31e.7765cc",
                "8362acf5.21435"
            ]
        ]
    },
    {
        "id": "db615cf9.a15a1",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "CreateParty Push",
        "func": "msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"CreatePartyRegistration\",\n    oadrHttpPullModel: false,\n    //oadrTransportAddress: 'http://localhost:8843'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 504.583251953125,
        "y": 645.5,
        "wires": [
            [
                "a8cb66ac.9fbc88"
            ]
        ]
    },
    {
        "id": "e5d4d64c.2cfa78",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "Register w/ Push",
        "topic": "",
        "payload": "CreatePartyRegistration",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 200.55548095703125,
        "y": 643.9166259765625,
        "wires": [
            [
                "db615cf9.a15a1"
            ]
        ]
    },
    {
        "id": "4dd8a5f7.511a6c",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "RegisterReport",
        "func": "let requestID = msg.payload.data.oadrRegisterReport.requestID;\n\nmsg = {};\n\nmsg.payload = {\n    requestType: 'RegisteredReport',\n    requestID\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 817.7500610351562,
        "y": 205.45001220703125,
        "wires": [
            [
                "6fce0c6a.300cc4",
                "8362acf5.21435"
            ]
        ]
    },
    {
        "id": "6fce0c6a.300cc4",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "regreport",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1002.25,
        "y": 214.800048828125,
        "wires": []
    },
    {
        "id": "459b8149.e7011",
        "type": "switch",
        "z": "e985f9e.3f46208",
        "name": "Req or Rep",
        "property": "oadr.msgType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "request",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 263.4999694824219,
        "y": 220.19998168945312,
        "wires": [
            [
                "8af991cf.60495",
                "ce404175.19e7f"
            ],
            [
                "777b6f93.40cc"
            ]
        ]
    },
    {
        "id": "ce404175.19e7f",
        "type": "switch",
        "z": "e985f9e.3f46208",
        "name": "Switch requestTypes",
        "property": "oadr.requestType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "oadrCreatedPartyRegistration",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrResponse",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrDistributeEvent",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrRegisterReport",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "oadrCanceledPartyRegistration",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 5,
        "x": 535.5,
        "y": 149.75006103515625,
        "wires": [
            [],
            [],
            [
                "3c604b33.545a34",
                "a10e22e6.4f041",
                "41163530.defb3c",
                "5ea8f31e.7765cc"
            ],
            [
                "4dd8a5f7.511a6c",
                "f82e8d65.e57d6"
            ],
            []
        ]
    },
    {
        "id": "f82e8d65.e57d6",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 850.0000610351562,
        "y": 148.7999267578125,
        "wires": []
    },
    {
        "id": "8af991cf.60495",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 509.250244140625,
        "y": 215.050048828125,
        "wires": []
    },
    {
        "id": "1b279473.1f63ec",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "Auto Poll",
        "func": "var pollMsg = {\n    payload: {\n        requestType : \"Poll\"\n    }\n};\n\nvar flowvar = \"CSS_BLACKLAB_NODE:pollRate\";\nvar pollInt = flow.get(flowvar);\n//var pollInt = msg.payload;\n\nif (pollInt === 0) return;\n\nvar it = setInterval(doPolling, pollInt * 1000);\n\nnode.status( { fill: \"green\", shape: \"dot\", text: \"Polling sec: \" + pollInt});\n\nfunction doPolling(){\n    var newPollingInt = flow.get(flowvar);\n    if (newPollingInt === 0){\n        clearInterval(it);\n        node.status( { fill: \"red\", shape: \"dot\", text: \"Polling: stopped\"});\n        return;\n    }\n    if (newPollingInt != pollInt){\n        clearInterval(it);\n        hbInt = newPollingInt;\n        it = setInterval(doPolling, pollInt * 1000);\n        node.status( { fill: \"green\", shape: \"dot\", text: \"Polling sec: \" + pollInt});\n    }\n    node.send(pollMsg);\n}\n\nnode.on('close', function(){\n    clearInterval(it);\n    node.status( { fill: \"red\", shape: \"dot\", text: \"Polling: stopped\"});\n})\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 460.625,
        "y": 891.8125,
        "wires": [
            [
                "a8cb66ac.9fbc88"
            ]
        ]
    },
    {
        "id": "8658d762.30b688",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "Toggle Polling",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 195.37506103515625,
        "y": 901.6874389648437,
        "wires": [
            [
                "1b279473.1f63ec"
            ]
        ]
    },
    {
        "id": "a6c29734.26d7d8",
        "type": "link in",
        "z": "e985f9e.3f46208",
        "name": "OADR",
        "links": [
            "34dd8f26.4d23a",
            "a8cb66ac.9fbc88",
            "8362acf5.21435"
        ],
        "x": 61.874969482421875,
        "y": 65.1875228881836,
        "wires": [
            [
                "5ca35786.6f3d78"
            ]
        ]
    },
    {
        "id": "360217e2.c33e08",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "",
        "func": "if (typeof msg.oadr.pollFreqSeconds === 'number'){\n    flow.set(\"CSS_BLACKLAB_NODE:pollRate\", msg.oadr.pollFreqSeconds );\n}\n\nlet _ids = {\n    vtnID: msg.payload.data.oadrCreatedPartyRegistration.vtnID,\n    venID: msg.payload.data.oadrCreatedPartyRegistration.venID,\n    registrationID: msg.payload.data.oadrCreatedPartyRegistration.registrationID,\n}\n\nmsg.payload = _ids;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 801.875,
        "y": 269.3124694824219,
        "wires": [
            [
                "50e0896.fdc5c78",
                "414b470a.b0d678"
            ]
        ]
    },
    {
        "id": "3eb62a45.0d5346",
        "type": "ui_text",
        "z": "a421227f.88148",
        "group": "15e2d246.70e80e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "vtnID",
        "format": "{{msg.payload.vtnID}}",
        "layout": "row-spread",
        "x": 235.625,
        "y": 99.37500762939453,
        "wires": []
    },
    {
        "id": "9c9b96e5.3a1428",
        "type": "ui_text",
        "z": "a421227f.88148",
        "group": "15e2d246.70e80e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "venID",
        "label": "venID",
        "format": "{{msg.payload.venID}}",
        "layout": "row-spread",
        "x": 231.25,
        "y": 146.25,
        "wires": []
    },
    {
        "id": "2d279e4.256f562",
        "type": "ui_text",
        "z": "a421227f.88148",
        "group": "15e2d246.70e80e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "registrationID",
        "format": "{{msg.payload.registrationID}}",
        "layout": "row-spread",
        "x": 247.49996948242187,
        "y": 191.25,
        "wires": []
    },
    {
        "id": "d761504d.21f45",
        "type": "link in",
        "z": "a421227f.88148",
        "name": "UI_IDS",
        "links": [
            "50e0896.fdc5c78"
        ],
        "x": 71.875,
        "y": 130.18749237060547,
        "wires": [
            [
                "3eb62a45.0d5346",
                "9c9b96e5.3a1428",
                "2d279e4.256f562"
            ]
        ]
    },
    {
        "id": "50e0896.fdc5c78",
        "type": "link out",
        "z": "e985f9e.3f46208",
        "name": "",
        "links": [
            "d761504d.21f45"
        ],
        "x": 1046.625,
        "y": 339.875,
        "wires": []
    },
    {
        "id": "879a6535.9064b8",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "",
        "func": "flow.set(\"CSS_BLACKLAB_NODE:pollRate\", 0 );\n\nlet _ids = {\n    vtnID: \"\",\n    venID: \"\",\n    registrationID: \"\"\n}\n\nmsg.payload = _ids;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 763.5,
        "y": 430.2499694824219,
        "wires": [
            [
                "50e0896.fdc5c78",
                "936c618f.1b0e7"
            ]
        ]
    },
    {
        "id": "936c618f.1b0e7",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1004.875,
        "y": 428.125,
        "wires": []
    },
    {
        "id": "414b470a.b0d678",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1006.8748779296875,
        "y": 262.875,
        "wires": []
    },
    {
        "id": "e09124c1.924988",
        "type": "ui_template",
        "z": "a421227f.88148",
        "group": "56e02f21.2a3b4",
        "name": "Events",
        "order": 0,
        "width": "12",
        "height": "8",
        "format": "<!-- div ng-bind-html=\"msg.payload\"></div -->\n\n<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Status</span>\n  <span flex>Start</span>\n  <span flex>Dur</span>\n  <span flex>Sig Name</span>\n  <span flex>Sig Type</span>\n  <span flex>Sig Value</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"Event in msg.payload.data.oadrDistributeEvent.oadrEvent\">\n  <span flex style=\"color: yellow\">{{Event.eiEvent.eventDescriptor.eventStatus}}</span>\n  <span flex style=\"color: green\">{{Event.eiEvent.eiActivePeriod.properties.dtstart[\"date-time\"] | date:'MM/dd hh:mm'}}</span>\n  <span flex style=\"color: red\">{{Event.eiEvent.eiActivePeriod.properties.duration.duration}}</span>\n  <span flex style=\"color: gray\">{{Event.eiEvent.eiEventSignals.eiEventSignal.signalName}}</span>\n  <span flex style=\"color: gray\">{{Event.eiEvent.eiEventSignals.eiEventSignal.signalType}}</span>\n  <span flex style=\"color: gray\">{{Event.eiEvent.eiEventSignals.eiEventSignal.intervals.interval.signalPayload.payloadFloat.value}}</span>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 487.125,
        "y": 268.875,
        "wires": [
            [
                "d517c2c6.8b7f6"
            ]
        ]
    },
    {
        "id": "ac64242e.bbc0c8",
        "type": "link in",
        "z": "a421227f.88148",
        "name": "UI_EVENTS",
        "links": [
            "a10e22e6.4f041"
        ],
        "x": 71.875,
        "y": 267.68749237060547,
        "wires": [
            [
                "e2eac4f8.bda7e8"
            ]
        ]
    },
    {
        "id": "a10e22e6.4f041",
        "type": "link out",
        "z": "e985f9e.3f46208",
        "name": "",
        "links": [
            "ac64242e.bbc0c8"
        ],
        "x": 740.375,
        "y": 379.6250305175781,
        "wires": []
    },
    {
        "id": "a8cb66ac.9fbc88",
        "type": "link out",
        "z": "e985f9e.3f46208",
        "name": "",
        "links": [
            "a6c29734.26d7d8"
        ],
        "x": 795.625,
        "y": 711.6250305175781,
        "wires": []
    },
    {
        "id": "8362acf5.21435",
        "type": "link out",
        "z": "e985f9e.3f46208",
        "name": "",
        "links": [
            "a6c29734.26d7d8"
        ],
        "x": 1046.875,
        "y": 150.37493896484375,
        "wires": []
    },
    {
        "id": "9806d922.de67c8",
        "type": "comment",
        "z": "e985f9e.3f46208",
        "name": "Show Globals",
        "info": "",
        "x": 968.125,
        "y": 504.31249618530273,
        "wires": []
    },
    {
        "id": "41163530.defb3c",
        "type": "debug",
        "z": "e985f9e.3f46208",
        "name": "Req Dist Event",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 828.125,
        "y": 39.1249942779541,
        "wires": []
    },
    {
        "id": "260423ab.a64f9c",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "OptIn Multiple",
        "func": "msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\nlet d2 = new Date();\nlet d3 = new Date();\nd2.setDate(d1.getDate() + 1);\nd3.setDate(d2.getDate() + 1);\n\nlet components = [];\n\nlet available = {\n        properties: {\n            dtstart: {\n                'date-time': d1.toISOString()\n            },\n            duration: {\n                duration: 'PT5M'\n            }\n        }\n            \n    };\n\navailable.properties.dtstart['date-time'] = d1.toISOString();\navailable.properties.duration.duration = 'PT5M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT2M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\navailable.properties.dtstart['date-time'] = d2.toISOString();\navailable.properties.duration.duration = 'PT10M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT12M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\navailable.properties.dtstart['date-time'] = d3.toISOString();\navailable.properties.duration.duration = 'PT15M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT22M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\n\nmsg.payload = { \n    requestType: \"CreateOpt\",\n    optType: 'optIn',\n    optReason: 'economic',\n    marketContext: 'http://MarketContext1',\n    components: components\n};\n\n\n//    dtstart: d1,\n//    duration: 'PT1H30M'\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 411.22222900390625,
        "y": 969.7222290039062,
        "wires": [
            [
                "a8cb66ac.9fbc88"
            ]
        ]
    },
    {
        "id": "d2ecff15.4ed48",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "OptIn",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 166.11111450195315,
        "y": 968.4999389648437,
        "wires": [
            [
                "260423ab.a64f9c"
            ]
        ]
    },
    {
        "id": "8a45655a.ec2058",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "OptOut 1H15M",
        "func": "msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\nd1.setDate(15);\n\nmsg.payload = { \n    requestType: \"CreateOpt\",\n    optType: 'optOut',\n    optID: '111111111-OUT',\n    optReason: 'economic',\n    marketContext: 'http://MarketContext1',\n    resourceID: 'XYZ',\n    dtstart: d1.toISOString(),\n    duration: 'PT1H15M'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410.55560302734375,
        "y": 1024.2222900390625,
        "wires": [
            [
                "a8cb66ac.9fbc88"
            ]
        ]
    },
    {
        "id": "a077e41e.7de5a8",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "Cancel OptOut 1H15M",
        "func": "msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\n\nmsg.payload = { \n    requestType: \"CancelOpt\",\n    optID: '111111111-OUT'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 425.11114501953125,
        "y": 1063.4443359375,
        "wires": [
            [
                "a8cb66ac.9fbc88"
            ]
        ]
    },
    {
        "id": "3aa416ed.1a73ca",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "OptOut",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 164.33331298828125,
        "y": 1021.833251953125,
        "wires": [
            [
                "8a45655a.ec2058"
            ]
        ]
    },
    {
        "id": "2123c191.8ed22e",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "Cancel Opt",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 172.77777099609375,
        "y": 1062.833251953125,
        "wires": [
            [
                "a077e41e.7de5a8"
            ]
        ]
    },
    {
        "id": "59f8aa16.7d88e4",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "2.0a requestEvent",
        "func": "// let venID = '48ac6ed956e1f1f4fdbe';\nmsg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"RequestEvent\",\n//    venID\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 451.5,
        "y": 809.449951171875,
        "wires": [
            [
                "a8cb66ac.9fbc88"
            ]
        ]
    },
    {
        "id": "cdf97bcd.c65a28",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "RequestEvent 2.0a",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 209,
        "y": 807,
        "wires": [
            [
                "59f8aa16.7d88e4"
            ]
        ]
    },
    {
        "id": "d517c2c6.8b7f6",
        "type": "debug",
        "z": "a421227f.88148",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 700.5,
        "y": 267.29998779296875,
        "wires": []
    },
    {
        "id": "5ca35786.6f3d78",
        "type": "VEN",
        "z": "e985f9e.3f46208",
        "name": "CSS_BLACKLAB_NODE",
        "url": "localhost:8181",
        "tls": "",
        "profile": "2.0b",
        "pushport": "8843",
        "pushurl": "http://localhost",
        "venid": "",
        "pollrate": "",
        "log": false,
        "pathlog": "",
        "x": 202,
        "y": 127,
        "wires": [
            [
                "a64ef248.61c3d",
                "459b8149.e7011"
            ]
        ]
    },
    {
        "id": "e2eac4f8.bda7e8",
        "type": "function",
        "z": "a421227f.88148",
        "name": "Make singel into array",
        "func": "// Older way to check for array...works with older browsers\n//if (Object.prototype.toString.call(msg.payload.data.oadrDistributeEvent.oadrEvent) == '[object Array]'){\n\n// isArray works with ES5\nif (Array.isArray(msg.payload.data.oadrDistributeEvent.oadrEvent)){\n}else{\n    let event = msg.payload.data.oadrDistributeEvent.oadrEvent;\n    delete msg.payload.data.oadrDistributeEvent.oadrEvent;\n    msg.payload.data.oadrDistributeEvent.oadrEvent = [];\n    msg.payload.data.oadrDistributeEvent.oadrEvent.push(event);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 261.5,
        "y": 304.4499816894531,
        "wires": [
            [
                "e09124c1.924988",
                "6c581384.87f9ac"
            ]
        ]
    },
    {
        "id": "6c581384.87f9ac",
        "type": "debug",
        "z": "a421227f.88148",
        "name": "dash",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 474.5,
        "y": 352.29998779296875,
        "wires": []
    },
    {
        "id": "dacfd359.66f22",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "venID",
        "topic": "",
        "payload": "CSS_BLACKLAB_20A:IDs.venID",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 977,
        "y": 741,
        "wires": [
            [
                "7d7c82c7.d633bc"
            ]
        ]
    },
    {
        "id": "c4f6a761.3c5188",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "vtnID",
        "topic": "",
        "payload": "CSS_BLACKLAB_20A:IDs.vtnID",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 975.75,
        "y": 790.6000061035156,
        "wires": [
            [
                "7d7c82c7.d633bc"
            ]
        ]
    },
    {
        "id": "beb5c7ad.d619f8",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "registrationID",
        "topic": "",
        "payload": "CSS_BLACKLAB_20A:IDs.registrationID",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 959,
        "y": 833.8499755859375,
        "wires": [
            [
                "7d7c82c7.d633bc"
            ]
        ]
    },
    {
        "id": "af3a3222.2c88",
        "type": "inject",
        "z": "e985f9e.3f46208",
        "name": "",
        "topic": "",
        "payload": "RegisterReport",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 189,
        "y": 1120,
        "wires": [
            [
                "52b947a3.7ec688"
            ]
        ]
    },
    {
        "id": "52b947a3.7ec688",
        "type": "function",
        "z": "e985f9e.3f46208",
        "name": "Single RegisterReport",
        "func": "msg.payload = {}\n\nvar dt = new Date().toISOString();\n\nmsg.payload.requestType = 'RegisterReport';\nmsg.payload.duration = 'PT2H';\nmsg.payload.marketContext = 'http://MarketContext1';\nmsg.payload.createdDateTime = dt;\n\nmsg.payload = {\n    requestType: 'RegisterReport',\n    duration: 'PT2H',\n    marketContext: 'http://MarketContext1',\n    createdDateTime: dt,\n    rID: 'resource1_status',\n    resourceID: 'resource1',\n    reportType: 'x-resourceStatus',\n    readingType: 'x-notApplicable',\n    oadrMinPeriod: 'PT1M',\n    oadrMaxPeriod: 'PT1M',\n    oadrOnChange: false,\n    reportRequestID: 0,\n    // reportSecifierID: uid,\n    reportName: 'METADATA_TELEMETRY_STATUS',\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 421.5,
        "y": 1121.8599853515625,
        "wires": [
            [
                "a8cb66ac.9fbc88"
            ]
        ]
    }
]