example-flows/demoflow_pullrequest.json
[{"id":"82d190e4.5ba288","type":"tab","label":"OADR Logic","disabled":false,"info":""},{"id":"e8c24772.dfd25","type":"tab","label":"OADR Dash","disabled":false,"info":""},{"id":"e86ea218.bf162","type":"subflow","name":"Subflow 1","info":"","in":[{"x":50,"y":30,"wires":[{"id":"3738dfde.d87d3"}]}],"out":[]},{"id":"814a0d72.bb8968","type":"subflow","name":"Subflow 1 (2)","info":"","in":[{"x":50,"y":30,"wires":[{"id":"176b62dd.936aa5"}]}],"out":[]},{"id":"8e55d550.fdace","type":"subflow","name":"Subflow 1 (2) (2)","info":"","in":[{"x":50,"y":30,"wires":[{"id":"3e99f85a.6e8f2"}]}],"out":[]},{"id":"fa45e29c.60c43","type":"tls-config","z":"","name":"Oadr RSA Cert","cert":"","key":"","ca":"","certname":"TEST_RSA_VEN_18100344750_cert.pem","keyname":"TEST_RSA_VEN_18100344750_privkey.pem","caname":"TEST_OpenADR_RSA_RCA0002_Cert.pem","servername":"","verifyservercert":false},{"id":"9fc0a954.b242d8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"3303205f.8ad06","type":"ui_group","z":"","name":"Group 1","tab":"9fc0a954.b242d8","order":1,"disp":false,"width":"12"},{"id":"a4b810b.e996df","type":"ui_group","z":"","name":"Group 2","tab":"9fc0a954.b242d8","order":3,"disp":false,"width":"12"},{"id":"99e5857a.569228","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"378e6989.cb4646","type":"ui_group","z":"","name":"Groupe 3","tab":"9fc0a954.b242d8","order":2,"disp":false,"width":"12","collapse":false},{"id":"7dcf856e.ce461c","type":"BACnet-Device","z":"","name":"Windows VM","deviceAddress":"192.168.1.94"},{"id":"a3584ce1.4d29","type":"BACnet-Instance","z":"","name":"Room Simulator YABE","instanceAddress":"3342490"},{"id":"45aaad62.c4de64","type":"tls-config","z":"","name":"Custom RSA Cert","cert":"","key":"","ca":"","certname":"ven1.oadr.com.crt","keyname":"ven1.oadr.com.key","caname":"oadr.com.crt","servername":"","verifyservercert":true},{"id":"26dd4900.c48d78","type":"tls-config","z":"","name":"ven1.oadr.com","cert":"","key":"","ca":"","certname":"ven1.oadr.com.crt","keyname":"ven1.oadr.com.key","caname":"oadr.com.crt","servername":"","verifyservercert":true},{"id":"469b11c2.1915c8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"9f01dacd.529ef8","type":"ui_group","z":"","name":"Group 1","tab":"469b11c2.1915c8","order":1,"disp":false,"width":"12"},{"id":"36719cce.a2960c","type":"ui_group","z":"","name":"Group 2","tab":"469b11c2.1915c8","order":2,"disp":false,"width":"12"},{"id":"b4dae39f.fd167","type":"tls-config","z":"","name":"Custom RSA Cert","cert":"","key":"","ca":"","certname":"ven1.oadr.com.crt","keyname":"ven1.oadr.com.key","caname":"oadr.com.crt","servername":"","verifyservercert":true},{"id":"5d2d8f56.6576a8","type":"BACnet-Instance","z":"","name":"100","instanceAddress":"100"},{"id":"6f3bd926.80bf3","type":"BACnet-Device","z":"","name":"10.0.2.2","deviceAddress":"10.0.2.2"},{"id":"45378d37.28e344","type":"BACnet-Instance","z":"","name":"3","instanceAddress":"22"},{"id":"3839b345.e7e8fc","type":"BACnet-Device","z":"","name":"test","deviceAddress":"127.0.0.1"},{"id":"5ff1d568.be92b4","type":"tls-config","z":"","name":"ven2.oadr.com","cert":"","key":"","ca":"","certname":"ven2.oadr.com.crt","keyname":"ven2.oadr.com.key","caname":"oadr.com.crt","servername":"","verifyservercert":true},{"id":"f2830188.642af","type":"debug","z":"e86ea218.bf162","name":"","active":false,"console":"false","complete":"payload.data","x":890,"y":400,"wires":[]},{"id":"1a6ab8d4.ad2437","type":"debug","z":"e86ea218.bf162","name":"x","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":120,"wires":[]},{"id":"b5ceb2df.7e105","type":"switch","z":"e86ea218.bf162","name":"Switch responseTypes","property":"oadr.responseType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"oadrCreatedOpt","vt":"str"},{"t":"eq","v":"oadrCanceledOpt","vt":"str"},{"t":"eq","v":"oadrCreateReport","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":520,"y":460,"wires":[["f2830188.642af","ff002010.890d6"],["f2830188.642af"],["f2830188.642af","417838d0.2a0848","de5adbb1.30e238"],["f2830188.642af","1a42b8e0.9ecce7"],["f2830188.642af","a0a4deb0.fc478"],[],[],["9b5bffac.dc145"]]},{"id":"417838d0.2a0848","type":"function","z":"e86ea218.bf162","name":"Handle DistributeEvents","func":"let data = msg.payload.data.oadrDistributeEvent;\n\nlet respMsg = {};\nrespMsg.payload = {};\nrespMsg.payload.requestID = data.requestID;\n//respMsg.payload.venID = '48ac6ed956e1f1f4fdbe';\n\nif(data.responseRequired === 'never'){\n    // don't repsone to broadcast messages\n    return;\n}\n\nrespMsg.payload.requestType = \"CreatedEvent\";\n\nlet eventArray = [];\n\nif(data.oadrEvent){\n    //console.log(data.oadrEvent.length);\n    if (data.oadrEvent.eiEvent){\n        xyz(data.oadrEvent);\n    }\n    else{\n        data.oadrEvent.forEach( event => {\n            xyz(event);\n        });\n    }\n    \n    if(eventArray.length > 0){\n        respMsg.payload.eventResponses = eventArray;\n    }\n    \n}\n\nfunction xyz(event){\n    // Don't respond if not requested\n    if (event.oadrResponseRequired === 'never'){\n        return;\n    }\n    \n    let optType;\n    \n    let ed = event.eiEvent.eventDescriptor;\n    \n    switch(ed.eventStatus.toLowerCase()){\n        case('completed'):\n        case('canceled'):\n            optType = 'optOut';\n            break;\n        default: \n            optType = 'optIn';\n            break;\n    }\n    \n    if(optType === 'optIn'){\n        switch(ed.eiMarketContext.marketContext.toLowerCase()){\n            case('demand_response'):\n            case('http://marketcontext1'):\n                break;\n            default:\n                optType = 'optOut';\n                break;\n        }\n    }\n    \n    optType = (ed.eventStatus.toLowerCase() === 'completed' )? 'optOut' : 'optIn';\n    \n    \n    let createdEvent = {\n    responseCode: 200,\n    responseDescription: 'OK',\n    //requestID: '11111111',\n    qualifiedEventID : {\n        eventID: ed.eventID,\n        modificationNumber: ed.modificationNumber\n    },\n    optType: optType\n    };\n    \n    // console.log(createdEvent);\n    eventArray.push(createdEvent);\n//        respMsg.payload.eventResponses.push(createdEvent);\n\n}\n\nreturn respMsg;","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["1a6ab8d4.ad2437","2d104612.f5d72a"]]},{"id":"1a42b8e0.9ecce7","type":"function","z":"e86ea218.bf162","name":"RegisterReport","func":"let requestID = msg.payload.data.oadrRegisterReport.requestID;\n\nmsg = {};\n\nmsg.payload = {\n    requestType: 'RegisteredReport',\n    requestID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":877.7500610351562,"y":285.45001220703125,"wires":[["eb82622c.1ea65","2d104612.f5d72a"]]},{"id":"eb82622c.1ea65","type":"debug","z":"e86ea218.bf162","name":"regreport","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1062.25,"y":294.800048828125,"wires":[]},{"id":"61402569.99740c","type":"switch","z":"e86ea218.bf162","name":"Req or Rep","property":"oadr.msgType","propertyType":"msg","rules":[{"t":"eq","v":"request","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":323.4999694824219,"y":300.1999816894531,"wires":[["ca3298d6.1019e8"],["b5ceb2df.7e105"]]},{"id":"ca3298d6.1019e8","type":"switch","z":"e86ea218.bf162","name":"Switch requestTypes","property":"oadr.requestType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"Poll","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":560,"y":160,"wires":[[],[],["417838d0.2a0848","de5adbb1.30e238","955bfead.9f0be","1a6ab8d4.ad2437"],["1a42b8e0.9ecce7","99978869.b9fb08"],[],[]]},{"id":"99978869.b9fb08","type":"debug","z":"e86ea218.bf162","name":"","active":true,"console":"false","complete":"false","x":910.0000610351562,"y":228.7999267578125,"wires":[]},{"id":"ff002010.890d6","type":"function","z":"e86ea218.bf162","name":"","func":"if (typeof msg.oadr.pollFreqSeconds === 'number'){\n    flow.set(\"DEMO_VEN_NODE:pollRate\", msg.oadr.pollFreqSeconds );\n}\n\nlet _ids = {\n    vtnID: msg.payload.data.oadrCreatedPartyRegistration.vtnID,\n    venID: msg.payload.data.oadrCreatedPartyRegistration.venID,\n    registrationID: msg.payload.data.oadrCreatedPartyRegistration.registrationID,\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":861.875,"y":349.3124694824219,"wires":[["fcd50f5b.9ab44","aadbef25.f66d2"]]},{"id":"fcd50f5b.9ab44","type":"link out","z":"e86ea218.bf162","name":"","links":[],"x":1106.625,"y":419.875,"wires":[]},{"id":"a0a4deb0.fc478","type":"function","z":"e86ea218.bf162","name":"","func":"flow.set(\"DEMO_VEN_NODE:pollRate\", 0 );\n\nlet _ids = {\n    vtnID: \"\",\n    venID: \"\",\n    registrationID: \"\"\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":823.5,"y":510.2499694824219,"wires":[["fcd50f5b.9ab44","9e73d9f0.ad4e88"]]},{"id":"9e73d9f0.ad4e88","type":"debug","z":"e86ea218.bf162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1044.875,"y":508.125,"wires":[]},{"id":"aadbef25.f66d2","type":"debug","z":"e86ea218.bf162","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1046.8748779296875,"y":342.875,"wires":[]},{"id":"de5adbb1.30e238","type":"link out","z":"e86ea218.bf162","name":"","links":[],"x":800.375,"y":459.6250305175781,"wires":[]},{"id":"2d104612.f5d72a","type":"link out","z":"e86ea218.bf162","name":"","links":["4c4768fd.ce2e48"],"x":1095,"y":240,"wires":[]},{"id":"955bfead.9f0be","type":"debug","z":"e86ea218.bf162","name":"Req Dist Event","active":true,"console":"false","complete":"true","x":888.125,"y":119.1249942779541,"wires":[]},{"id":"9b5bffac.dc145","type":"function","z":"e86ea218.bf162","name":"Handle CreateReports","func":"let data = msg.payload.data.oadrCreateReport;\n\nlet requestArray = [];\n\nif(data.oadrReportRequest){\n   requestArray.push(data.oadrReportRequest)\n\n}\nmsg.payload.data.oadrCreateReport = requestArray;\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":560,"wires":[["c220627b.af78d"]]},{"id":"c220627b.af78d","type":"link out","z":"e86ea218.bf162","name":"","links":[],"x":995,"y":560,"wires":[]},{"id":"3738dfde.d87d3","type":"VEN","z":"e86ea218.bf162","name":"mouaiccool","url":"https://192.168.10.42:8181/testvtn","tls":"fa45e29c.60c43","profile":"2.0b","pushport":"8082","pushurl":"","venid":"5B:9B:BF:21:33:A0:DF:6B:21:81","pollrate":"5","log":false,"pathlog":"","x":230,"y":220,"wires":[["61402569.99740c"]]},{"id":"4c4768fd.ce2e48","type":"link in","z":"e86ea218.bf162","name":"OADR","links":["2d104612.f5d72a"],"x":95,"y":340,"wires":[["3738dfde.d87d3"]]},{"id":"c0324b01.5eef58","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"QueryRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":720,"wires":[["aa292994.80e81"]]},{"id":"9f815ec9.2659a","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"CreatePartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":197.50006103515625,"y":758.25,"wires":[["aa292994.80e81"]]},{"id":"616491d8.4bc7a","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"RequestEvent","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":168.25003051757812,"y":923.7499389648438,"wires":[["aa292994.80e81"]]},{"id":"1ec9888e.1c332f","type":"inject","z":"82d190e4.5ba288","name":"Single Poll","topic":"","payload":"Poll","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":167.50015258789062,"y":1027.2499389648438,"wires":[["aa292994.80e81"]]},{"id":"97a20627.a7f228","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"CancelPartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":880,"wires":[["aa292994.80e81"]]},{"id":"b85e01ae.3a9048","type":"debug","z":"82d190e4.5ba288","name":"","active":true,"console":"false","complete":"payload.data","x":990,"y":500,"wires":[]},{"id":"bf91594.74e3828","type":"debug","z":"82d190e4.5ba288","name":"","active":true,"console":"false","complete":"true","x":440.00006103515625,"y":114.20001220703125,"wires":[]},{"id":"995327eb.bd207","type":"inject","z":"82d190e4.5ba288","name":"venID","topic":"","payload":"DEMO_VEN_NODE:IDs.venID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1170,"y":900,"wires":[["c63d2d58.b25db8"]]},{"id":"c63d2d58.b25db8","type":"debug","z":"82d190e4.5ba288","name":"","active":true,"console":"false","complete":"false","x":1367,"y":934.6499633789062,"wires":[]},{"id":"15da5c84.44c5b3","type":"inject","z":"82d190e4.5ba288","name":"vtnID","topic":"","payload":"DEMO_VEN_NODE:IDs.vtnID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1168.75,"y":949.6000061035156,"wires":[["c63d2d58.b25db8"]]},{"id":"137eeefa.9be031","type":"inject","z":"82d190e4.5ba288","name":"registrationID","topic":"","payload":"DEMO_VEN_NODE:IDs.registrationID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1152,"y":992.8499755859375,"wires":[["c63d2d58.b25db8"]]},{"id":"42660ebe.f3f848","type":"debug","z":"82d190e4.5ba288","name":"x","active":true,"console":"false","complete":"payload","x":1150,"y":80,"wires":[]},{"id":"ae54a711.b17a98","type":"switch","z":"82d190e4.5ba288","name":"Switch responseTypes","property":"oadr.responseType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"oadrCreatedOpt","vt":"str"},{"t":"eq","v":"oadrCanceledOpt","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":480,"y":560,"wires":[["b85e01ae.3a9048","71a542.ad7cfac"],["b85e01ae.3a9048"],["b85e01ae.3a9048","54eedba.9e00924","a756eac6.8bef5"],["b85e01ae.3a9048","de8092da.9be59"],["b85e01ae.3a9048","ded4e760.55b828"],[],[]]},{"id":"ce52d44d.76fc7","type":"comment","z":"82d190e4.5ba288","name":"Registration requests","info":"","x":197.50009155273438,"y":676.6900024414062,"wires":[]},{"id":"aa292994.80e81","type":"function","z":"82d190e4.5ba288","name":"convert simple payload string to requestType","func":"let req = msg.payload;\nmsg.payload = {};\nmsg.payload.requestType = req;\nreturn msg;","outputs":1,"noerr":0,"x":567.2501525878906,"y":716.9500122070312,"wires":[["682b84c2.2a59ac"]]},{"id":"54eedba.9e00924","type":"function","z":"82d190e4.5ba288","name":"Handle DistributeEvents","func":"let data = msg.payload.data.oadrDistributeEvent;\n\nlet respMsg = {};\nrespMsg.payload = {};\nrespMsg.payload.requestID = data.requestID;\n//respMsg.payload.venID = '48ac6ed956e1f1f4fdbe';\n\nif(data.responseRequired === 'never'){\n    // don't repsone to broadcast messages\n    return;\n}\n\nrespMsg.payload.requestType = \"CreatedEvent\";\n\nlet eventArray = [];\n\nif(data.oadrEvent){\n    //console.log(data.oadrEvent.length);\n    if (data.oadrEvent.eiEvent){\n        xyz(data.oadrEvent);\n    }\n    else{\n        data.oadrEvent.forEach( event => {\n            xyz(event);\n        });\n    }\n    \n    if(eventArray.length > 0){\n        respMsg.payload.eventResponses = eventArray;\n    }\n    \n}\n\nfunction xyz(event){\n    // Don't respond if not requested\n    if (event.oadrResponseRequired === 'never'){\n        return;\n    }\n    \n    let optType;\n    \n    let ed = event.eiEvent.eventDescriptor;\n    \n    switch(ed.eventStatus.toLowerCase()){\n        case('completed'):\n        case('canceled'):\n            optType = 'optOut';\n            break;\n        default: \n            optType = 'optIn';\n            break;\n    }\n    \n    if(optType === 'optIn'){\n        switch(ed.eiMarketContext.marketContext.toLowerCase()){\n            case('demand_response'):\n            case('http://marketcontext1'):\n                break;\n            default:\n                optType = 'optOut';\n                break;\n        }\n    }\n    \n    optType = (ed.eventStatus.toLowerCase() === 'completed' )? 'optOut' : 'optIn';\n    \n    \n    let createdEvent = {\n    responseCode: 200,\n    responseDescription: 'OK',\n    //requestID: '11111111',\n    qualifiedEventID : {\n        eventID: ed.eventID,\n        modificationNumber: ed.modificationNumber\n    },\n    optType: optType\n    };\n    \n    // console.log(createdEvent);\n    eventArray.push(createdEvent);\n//        respMsg.payload.eventResponses.push(createdEvent);\n\n}\n\nreturn respMsg;","outputs":1,"noerr":0,"x":990,"y":160,"wires":[["42660ebe.f3f848","2b9aa15c.af16be"]]},{"id":"aac9afe0.09ac88","type":"function","z":"82d190e4.5ba288","name":"CreateParty Push","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"CreatePartyRegistration\",\n    oadrHttpPullModel: false,\n    //oadrTransportAddress: 'http://localhost:8843'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":800,"wires":[["682b84c2.2a59ac"]]},{"id":"984aeb38.ba7588","type":"inject","z":"82d190e4.5ba288","name":"Register w/ Push","topic":"","payload":"CreatePartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":800,"wires":[["aac9afe0.09ac88"]]},{"id":"de8092da.9be59","type":"function","z":"82d190e4.5ba288","name":"RegisterReport","func":"let requestID = msg.payload.data.oadrRegisterReport.requestID;\n\nmsg = {};\n\nmsg.payload = {\n    requestType: 'RegisteredReport',\n    requestID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":420,"wires":[["ed565e81.ffcb2","2b9aa15c.af16be"]]},{"id":"ed565e81.ffcb2","type":"debug","z":"82d190e4.5ba288","name":"regreport","active":true,"console":"false","complete":"payload","x":1240,"y":420,"wires":[]},{"id":"b746f840.49ee8","type":"switch","z":"82d190e4.5ba288","name":"Req or Rep","property":"oadr.msgType","propertyType":"msg","rules":[{"t":"eq","v":"request","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":293.5000305175781,"y":294.3999938964844,"wires":[["899c4a87.a6cc48","c0b92ca.28e0ed"],["ae54a711.b17a98"]]},{"id":"c0b92ca.28e0ed","type":"switch","z":"82d190e4.5ba288","name":"Switch requestTypes","property":"oadr.requestType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"oadrRequestReregistration","vt":"str"},{"t":"eq","v":"oadrCancelPartyRegistration","vt":"str"},{"t":"eq","v":"oadrCreateReport","vt":"str"},{"t":"eq","v":"oadrCancelReport","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":610.0000610351562,"y":194.20001220703125,"wires":[[],[],["54eedba.9e00924","a756eac6.8bef5","cb2bdf5e.86da8","42660ebe.f3f848"],["de8092da.9be59","34ed18ca.e935"],[],["a5e6fbf0.ad616"],["f8ff54fb.4c1dd"],["d351a654.8d51a8"],["19dcfb71.2a661d"]]},{"id":"34ed18ca.e935","type":"debug","z":"82d190e4.5ba288","name":"","active":true,"console":"false","complete":"false","x":970,"y":200,"wires":[]},{"id":"899c4a87.a6cc48","type":"debug","z":"82d190e4.5ba288","name":"","active":true,"console":"false","complete":"payload","x":520.0000610351562,"y":334.20001220703125,"wires":[]},{"id":"c26427c.88612d8","type":"function","z":"82d190e4.5ba288","name":"Auto Poll","func":"var pollMsg = {\n    payload: {\n        requestType : \"Poll\"\n    }\n};\n\nvar flowvar = \"DEMO_VEN_NODE:pollRate\";\nvar pollInt = flow.get(flowvar);\n//var pollInt = msg.payload;\n\nif (pollInt === 0) return;\n\nvar it = setInterval(doPolling, pollInt * 1000);\n\nnode.status( { fill: \"green\", shape: \"dot\", text: \"Polling sec: \" + pollInt});\n\nfunction doPolling(){\n    var newPollingInt = flow.get(flowvar);\n    if (newPollingInt === 0){\n        clearInterval(it);\n        node.status( { fill: \"red\", shape: \"dot\", text: \"Polling: stopped\"});\n        return;\n    }\n    if (newPollingInt != pollInt){\n        clearInterval(it);\n        hbInt = newPollingInt;\n        it = setInterval(doPolling, pollInt * 1000);\n        node.status( { fill: \"green\", shape: \"dot\", text: \"Polling sec: \" + pollInt});\n    }\n    node.send(pollMsg);\n}\n\nnode.on('close', function(){\n    clearInterval(it);\n    node.status( { fill: \"red\", shape: \"dot\", text: \"Polling: stopped\"});\n})\nreturn;","outputs":1,"noerr":0,"x":440.625,"y":1051.8125,"wires":[["682b84c2.2a59ac"]]},{"id":"56c0dc62.6fa17c","type":"inject","z":"82d190e4.5ba288","name":"Toggle Polling","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":175.37506103515625,"y":1061.6874389648438,"wires":[["c26427c.88612d8"]]},{"id":"86a37737.bed29","type":"link in","z":"82d190e4.5ba288","name":"OADR","links":["34dd8f26.4d23a","682b84c2.2a59ac","2b9aa15c.af16be"],"x":91.87503051757812,"y":139.38753509521484,"wires":[["4fb2e06b.397f38"]]},{"id":"71a542.ad7cfac","type":"function","z":"82d190e4.5ba288","name":"","func":"if (typeof msg.oadr.pollFreqSeconds === 'number'){\n    flow.set(\"DEMO_VEN_NODE:pollRate\", msg.oadr.pollFreqSeconds );\n}\n\nlet _ids = {\n    vtnID: msg.payload.data.oadrCreatedPartyRegistration.vtnID,\n    venID: msg.payload.data.oadrCreatedPartyRegistration.venID,\n    registrationID: msg.payload.data.oadrCreatedPartyRegistration.registrationID,\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":951.8750610351562,"y":463.5124816894531,"wires":[["5e400521.4fe094","811eb52b.edfd68"]]},{"id":"e069cde7.99f488","type":"ui_text","z":"e8c24772.dfd25","group":"9f01dacd.529ef8","order":0,"width":0,"height":0,"name":"","label":"vtnID","format":"{{msg.payload.vtnID}}","layout":"row-spread","x":235.625,"y":99.37500762939453,"wires":[]},{"id":"8134bbc2.5442b","type":"ui_text","z":"e8c24772.dfd25","group":"9f01dacd.529ef8","order":0,"width":0,"height":0,"name":"venID","label":"venID","format":"{{msg.payload.venID}}","layout":"row-spread","x":231.25,"y":146.25,"wires":[]},{"id":"aa311403.987a88","type":"ui_text","z":"e8c24772.dfd25","group":"9f01dacd.529ef8","order":0,"width":0,"height":0,"name":"","label":"registrationID","format":"{{msg.payload.registrationID}}","layout":"row-spread","x":247.49996948242188,"y":191.25,"wires":[]},{"id":"a5ea4eb.8d550b","type":"link in","z":"e8c24772.dfd25","name":"UI_IDS","links":["5e400521.4fe094"],"x":71.875,"y":130.18749237060547,"wires":[["e069cde7.99f488","8134bbc2.5442b","aa311403.987a88"]]},{"id":"5e400521.4fe094","type":"link out","z":"82d190e4.5ba288","name":"","links":["a5ea4eb.8d550b"],"x":1196.6250610351562,"y":534.0750122070312,"wires":[]},{"id":"ded4e760.55b828","type":"function","z":"82d190e4.5ba288","name":"","func":"flow.set(\"DEMO_VEN_NODE:pollRate\", 0 );\n\nlet _ids = {\n    vtnID: \"\",\n    venID: \"\",\n    registrationID: \"\"\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":913.5000610351562,"y":624.4499816894531,"wires":[["5e400521.4fe094","b0390f50.7c24a8"]]},{"id":"b0390f50.7c24a8","type":"debug","z":"82d190e4.5ba288","name":"","active":true,"console":"false","complete":"false","x":1154.8750610351562,"y":622.3250122070312,"wires":[]},{"id":"811eb52b.edfd68","type":"debug","z":"82d190e4.5ba288","name":"","active":true,"console":"false","complete":"false","x":1156.8749389648438,"y":457.07501220703125,"wires":[]},{"id":"2ad262e0.c07716","type":"ui_template","z":"e8c24772.dfd25","group":"36719cce.a2960c","name":"Events","order":0,"width":"12","height":"8","format":"<!-- div ng-bind-html=\"msg.payload\"></div -->\n\n<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Status</span>\n  <span flex>Start</span>\n  <span flex>Dur</span>\n  <span flex>Sig Name</span>\n  <span flex>Sig Type</span>\n  <span flex>Sig Value</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"Event in msg.payload.data.oadrDistributeEvent.oadrEvent\">\n  <span flex style=\"color: yellow\">{{Event.eiEvent.eventDescriptor.eventStatus}}</span>\n  <span flex style=\"color: green\">{{Event.eiEvent.eiActivePeriod.properties.dtstart[\"date-time\"] | date:'MM/dd hh:mm'}}</span>\n  <span flex style=\"color: red\">{{Event.eiEvent.eiActivePeriod.properties.duration.duration}}</span>\n  <span flex style=\"color: gray\">{{Event.eiEvent.eiEventSignals.eiEventSignal.signalName}}</span>\n  <span flex style=\"color: gray\">{{Event.eiEvent.eiEventSignals.eiEventSignal.signalType}}</span>\n  <span flex style=\"color: gray\">{{Event.eiEvent.eiEventSignals.eiEventSignal.intervals.interval.signalPayload.payloadFloat.value}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":487.125,"y":268.875,"wires":[["5c2bba28.410b34"]]},{"id":"41092604.f40cc","type":"link in","z":"e8c24772.dfd25","name":"UI_EVENTS","links":["a756eac6.8bef5"],"x":71.875,"y":267.68749237060547,"wires":[["bfb836a2.cc4df"]]},{"id":"a756eac6.8bef5","type":"link out","z":"82d190e4.5ba288","name":"","links":["41092604.f40cc"],"x":890.3750610351562,"y":573.8250427246094,"wires":[]},{"id":"682b84c2.2a59ac","type":"link out","z":"82d190e4.5ba288","name":"","links":["86a37737.bed29"],"x":775.625,"y":871.6250305175781,"wires":[]},{"id":"2b9aa15c.af16be","type":"link out","z":"82d190e4.5ba288","name":"","links":["86a37737.bed29"],"x":1215,"y":220,"wires":[]},{"id":"a6770d71.25d41","type":"comment","z":"82d190e4.5ba288","name":"Show Globals","info":"","x":1152.375,"y":850.4124717712402,"wires":[]},{"id":"cb2bdf5e.86da8","type":"debug","z":"82d190e4.5ba288","name":"Req Dist Event","active":true,"console":"false","complete":"true","x":840,"y":60,"wires":[]},{"id":"ea194903.5cab88","type":"function","z":"82d190e4.5ba288","name":"OptIn Multiple","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\nlet d2 = new Date();\nlet d3 = new Date();\nd2.setDate(d1.getDate() + 1);\nd3.setDate(d2.getDate() + 1);\n\nlet components = [];\n\nlet available = {\n        properties: {\n            dtstart: {\n                'date-time': d1.toISOString()\n            },\n            duration: {\n                duration: 'PT5M'\n            }\n        }\n            \n    };\n\navailable.properties.dtstart['date-time'] = d1.toISOString();\navailable.properties.duration.duration = 'PT5M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT2M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\navailable.properties.dtstart['date-time'] = d2.toISOString();\navailable.properties.duration.duration = 'PT10M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT12M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\navailable.properties.dtstart['date-time'] = d3.toISOString();\navailable.properties.duration.duration = 'PT15M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT22M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\n\nmsg.payload = { \n    requestType: \"CreateOpt\",\n    optType: 'optIn',\n    optReason: 'economic',\n    marketContext: 'http://MarketContext1',\n    components: components\n};\n\n\n//    dtstart: d1,\n//    duration: 'PT1H30M'\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":391.22222900390625,"y":1129.7222290039062,"wires":[["682b84c2.2a59ac"]]},{"id":"ccc23ac7.43937","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"OptIn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":146.11111450195312,"y":1128.4999389648438,"wires":[["ea194903.5cab88"]]},{"id":"5f577781.2d942","type":"function","z":"82d190e4.5ba288","name":"OptOut 1H15M","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\nd1.setDate(15);\n\nmsg.payload = { \n    requestType: \"CreateOpt\",\n    optType: 'optOut',\n    optID: '111111111-OUT',\n    optReason: 'economic',\n    marketContext: 'http://MarketContext1',\n    resourceID: 'XYZ',\n    dtstart: d1.toISOString(),\n    duration: 'PT1H15M'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":390.55560302734375,"y":1184.2222900390625,"wires":[["682b84c2.2a59ac"]]},{"id":"ee2b2b53.18915","type":"function","z":"82d190e4.5ba288","name":"Cancel OptOut 1H15M","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\n\nmsg.payload = { \n    requestType: \"CancelOpt\",\n    optID: '111111111-OUT'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":405.11114501953125,"y":1223.4443359375,"wires":[["682b84c2.2a59ac"]]},{"id":"ccc24af4.b323d8","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"OptOut","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":144.33331298828125,"y":1181.833251953125,"wires":[["5f577781.2d942"]]},{"id":"180e75e0.cef7ba","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"Cancel Opt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":152.77777099609375,"y":1222.833251953125,"wires":[["ee2b2b53.18915"]]},{"id":"c5514e48.b04738","type":"function","z":"82d190e4.5ba288","name":"2.0a requestEvent","func":"// let venID = '48ac6ed956e1f1f4fdbe';\nmsg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"RequestEvent\",\n//    venID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":431.5,"y":969.449951171875,"wires":[["682b84c2.2a59ac"]]},{"id":"3e17b222.5e0ac6","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"RequestEvent 2.0a","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":189,"y":967,"wires":[["c5514e48.b04738"]]},{"id":"5c2bba28.410b34","type":"debug","z":"e8c24772.dfd25","name":"","active":true,"console":"false","complete":"false","x":700.5,"y":267.29998779296875,"wires":[]},{"id":"4fb2e06b.397f38","type":"VEN","z":"82d190e4.5ba288","name":"DEMO_VEN_NODE","url":"https://vtn.oadr.com:8181/testvtn","tls":"26dd4900.c48d78","profile":"2.0b","pushport":"8843","pushurl":"http://192.168.1.14","venid":"05:8F:6B:7B:47:AF:EB:47:2A:7B","pollrate":"","log":false,"pathlog":"","x":300.00006103515625,"y":174.20001220703125,"wires":[["bf91594.74e3828","b746f840.49ee8"]]},{"id":"bfb836a2.cc4df","type":"function","z":"e8c24772.dfd25","name":"Make singel into array","func":"// Older way to check for array...works with older browsers\n//if (Object.prototype.toString.call(msg.payload.data.oadrDistributeEvent.oadrEvent) == '[object Array]'){\n\n// isArray works with ES5\nif (Array.isArray(msg.payload.data.oadrDistributeEvent.oadrEvent)){\n}else{\n    let event = msg.payload.data.oadrDistributeEvent.oadrEvent;\n    delete msg.payload.data.oadrDistributeEvent.oadrEvent;\n    msg.payload.data.oadrDistributeEvent.oadrEvent = [];\n    msg.payload.data.oadrDistributeEvent.oadrEvent.push(event);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":261.5,"y":304.4499816894531,"wires":[["2ad262e0.c07716","b9473247.23ad38"]]},{"id":"b9473247.23ad38","type":"debug","z":"e8c24772.dfd25","name":"dash","active":true,"console":"false","complete":"true","x":474.5,"y":352.29998779296875,"wires":[]},{"id":"ab9da337.391568","type":"inject","z":"82d190e4.5ba288","name":"venID","topic":"","payload":"DEMO_VEN_20A:IDs.venID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1161.25,"y":1087.0999755859375,"wires":[["c63d2d58.b25db8"]]},{"id":"95c74a22.ef375","type":"inject","z":"82d190e4.5ba288","name":"vtnID","topic":"","payload":"DEMO_VEN_20A:IDs.vtnID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1160,"y":1136.6999816894531,"wires":[["c63d2d58.b25db8"]]},{"id":"7437dfc4.a63ce8","type":"inject","z":"82d190e4.5ba288","name":"registrationID","topic":"","payload":"DEMO_VEN_20A:IDs.registrationID","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":"","x":1143.25,"y":1179.949951171875,"wires":[["c63d2d58.b25db8"]]},{"id":"f049355b.8ffa48","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"RegisterReport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":169,"y":1280,"wires":[["5ba5714e.b4b44"]]},{"id":"5ba5714e.b4b44","type":"function","z":"82d190e4.5ba288","name":"Single RegisterReport","func":"msg.payload = {}\n\nvar dt = new Date().toISOString();\n\nmsg.payload.requestType = 'RegisterReport';\nmsg.payload.duration = 'PT2H';\nmsg.payload.marketContext = 'http://MarketContext1';\nmsg.payload.createdDateTime = dt;\n\nmsg.payload = {\n    requestType: 'RegisterReport',\n    duration: 'PT2H',\n    marketContext: 'http://oadr.avob.com',\n    createdDateTime: dt,\n    rID: 'resource1_status',\n    resourceID: 'resource1',\n    reportType: 'x-resourceStatus',\n    readingType: 'x-notApplicable',\n    oadrMinPeriod: 'PT1M',\n    oadrMaxPeriod: 'PT1M',\n    oadrOnChange: false,\n    reportRequestID: 0,\n    // reportSecifierID: uid,\n    reportName: 'METADATA_TELEMETRY_STATUS',\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":401.5,"y":1281.8599853515625,"wires":[["682b84c2.2a59ac"]]},{"id":"58205146.d94b38","type":"debug","z":"814a0d72.bb8968","name":"","active":false,"console":"false","complete":"payload.data","x":890,"y":400,"wires":[]},{"id":"cbd18b92.4ad1a","type":"debug","z":"814a0d72.bb8968","name":"x","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":120,"wires":[]},{"id":"d7fe413d.979ce8","type":"switch","z":"814a0d72.bb8968","name":"Switch responseTypes","property":"oadr.responseType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"oadrCreatedOpt","vt":"str"},{"t":"eq","v":"oadrCanceledOpt","vt":"str"},{"t":"eq","v":"oadrCreateReport","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":520,"y":460,"wires":[["58205146.d94b38","f1b6398e.d5a12"],["58205146.d94b38"],["58205146.d94b38","d25796fa.e3b46","95fb8e41.9ddab"],["58205146.d94b38","96a5c68a.0e1eb8"],["58205146.d94b38","5b850399.2b798c"],[],[],["f185f49e.cf1a68"]]},{"id":"d25796fa.e3b46","type":"function","z":"814a0d72.bb8968","name":"Handle DistributeEvents","func":"let data = msg.payload.data.oadrDistributeEvent;\n\nlet respMsg = {};\nrespMsg.payload = {};\nrespMsg.payload.requestID = data.requestID;\n//respMsg.payload.venID = '48ac6ed956e1f1f4fdbe';\n\nif(data.responseRequired === 'never'){\n    // don't repsone to broadcast messages\n    return;\n}\n\nrespMsg.payload.requestType = \"CreatedEvent\";\n\nlet eventArray = [];\n\nif(data.oadrEvent){\n    //console.log(data.oadrEvent.length);\n    if (data.oadrEvent.eiEvent){\n        xyz(data.oadrEvent);\n    }\n    else{\n        data.oadrEvent.forEach( event => {\n            xyz(event);\n        });\n    }\n    \n    if(eventArray.length > 0){\n        respMsg.payload.eventResponses = eventArray;\n    }\n    \n}\n\nfunction xyz(event){\n    // Don't respond if not requested\n    if (event.oadrResponseRequired === 'never'){\n        return;\n    }\n    \n    let optType;\n    \n    let ed = event.eiEvent.eventDescriptor;\n    \n    switch(ed.eventStatus.toLowerCase()){\n        case('completed'):\n        case('canceled'):\n            optType = 'optOut';\n            break;\n        default: \n            optType = 'optIn';\n            break;\n    }\n    \n    if(optType === 'optIn'){\n        switch(ed.eiMarketContext.marketContext.toLowerCase()){\n            case('demand_response'):\n            case('http://marketcontext1'):\n                break;\n            default:\n                optType = 'optOut';\n                break;\n        }\n    }\n    \n    optType = (ed.eventStatus.toLowerCase() === 'completed' )? 'optOut' : 'optIn';\n    \n    \n    let createdEvent = {\n    responseCode: 200,\n    responseDescription: 'OK',\n    //requestID: '11111111',\n    qualifiedEventID : {\n        eventID: ed.eventID,\n        modificationNumber: ed.modificationNumber\n    },\n    optType: optType\n    };\n    \n    // console.log(createdEvent);\n    eventArray.push(createdEvent);\n//        respMsg.payload.eventResponses.push(createdEvent);\n\n}\n\nreturn respMsg;","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["cbd18b92.4ad1a","aca91d0e.1e1d18"]]},{"id":"96a5c68a.0e1eb8","type":"function","z":"814a0d72.bb8968","name":"RegisterReport","func":"let requestID = msg.payload.data.oadrRegisterReport.requestID;\n\nmsg = {};\n\nmsg.payload = {\n    requestType: 'RegisteredReport',\n    requestID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":877.7500610351562,"y":285.45001220703125,"wires":[["77b0ab22.0bc9f4","aca91d0e.1e1d18"]]},{"id":"77b0ab22.0bc9f4","type":"debug","z":"814a0d72.bb8968","name":"regreport","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1062.25,"y":294.800048828125,"wires":[]},{"id":"99f9cc8a.037e78","type":"switch","z":"814a0d72.bb8968","name":"Req or Rep","property":"oadr.msgType","propertyType":"msg","rules":[{"t":"eq","v":"request","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":323.4999694824219,"y":300.1999816894531,"wires":[["d15d2e71.413728"],["d7fe413d.979ce8"]]},{"id":"d15d2e71.413728","type":"switch","z":"814a0d72.bb8968","name":"Switch requestTypes","property":"oadr.requestType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"Poll","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":560,"y":160,"wires":[[],[],["d25796fa.e3b46","95fb8e41.9ddab","b5f608bd.a89808","cbd18b92.4ad1a"],["96a5c68a.0e1eb8","fc2a3582.c87f"],[],[]]},{"id":"fc2a3582.c87f","type":"debug","z":"814a0d72.bb8968","name":"","active":true,"console":"false","complete":"false","x":910.0000610351562,"y":228.7999267578125,"wires":[]},{"id":"f1b6398e.d5a12","type":"function","z":"814a0d72.bb8968","name":"","func":"if (typeof msg.oadr.pollFreqSeconds === 'number'){\n    flow.set(\"DEMO_VEN_NODE:pollRate\", msg.oadr.pollFreqSeconds );\n}\n\nlet _ids = {\n    vtnID: msg.payload.data.oadrCreatedPartyRegistration.vtnID,\n    venID: msg.payload.data.oadrCreatedPartyRegistration.venID,\n    registrationID: msg.payload.data.oadrCreatedPartyRegistration.registrationID,\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":861.875,"y":349.3124694824219,"wires":[["359a9c43.88917c","b72adc9e.dbcea"]]},{"id":"359a9c43.88917c","type":"link out","z":"814a0d72.bb8968","name":"","links":[],"x":1106.625,"y":419.875,"wires":[]},{"id":"5b850399.2b798c","type":"function","z":"814a0d72.bb8968","name":"","func":"flow.set(\"DEMO_VEN_NODE:pollRate\", 0 );\n\nlet _ids = {\n    vtnID: \"\",\n    venID: \"\",\n    registrationID: \"\"\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":823.5,"y":510.2499694824219,"wires":[["359a9c43.88917c","44154a3e.9295b4"]]},{"id":"44154a3e.9295b4","type":"debug","z":"814a0d72.bb8968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1044.875,"y":508.125,"wires":[]},{"id":"b72adc9e.dbcea","type":"debug","z":"814a0d72.bb8968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1046.8748779296875,"y":342.875,"wires":[]},{"id":"95fb8e41.9ddab","type":"link out","z":"814a0d72.bb8968","name":"","links":[],"x":800.375,"y":459.6250305175781,"wires":[]},{"id":"aca91d0e.1e1d18","type":"link out","z":"814a0d72.bb8968","name":"","links":["19b6ba48.d9f69e"],"x":1095,"y":240,"wires":[]},{"id":"b5f608bd.a89808","type":"debug","z":"814a0d72.bb8968","name":"Req Dist Event","active":true,"console":"false","complete":"true","x":888.125,"y":119.1249942779541,"wires":[]},{"id":"f185f49e.cf1a68","type":"function","z":"814a0d72.bb8968","name":"Handle CreateReports","func":"let data = msg.payload.data.oadrCreateReport;\n\nlet requestArray = [];\n\nif(data.oadrReportRequest){\n   requestArray.push(data.oadrReportRequest)\n\n}\nmsg.payload.data.oadrCreateReport = requestArray;\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":560,"wires":[["dc2a36be.ce70d"]]},{"id":"dc2a36be.ce70d","type":"link out","z":"814a0d72.bb8968","name":"","links":[],"x":995,"y":560,"wires":[]},{"id":"176b62dd.936aa5","type":"VEN","z":"814a0d72.bb8968","name":"mouaiccool","url":"https://192.168.10.42:8181/testvtn","tls":"","profile":"2.0b","pushport":"8082","pushurl":"","venid":"5B:9B:BF:21:33:A0:DF:6B:21:81","pollrate":"5","log":false,"pathlog":"","x":230,"y":220,"wires":[["99f9cc8a.037e78"]]},{"id":"19b6ba48.d9f69e","type":"link in","z":"814a0d72.bb8968","name":"OADR","links":["aca91d0e.1e1d18"],"x":95,"y":340,"wires":[["176b62dd.936aa5"]]},{"id":"d1dbeffd.bb0208","type":"debug","z":"8e55d550.fdace","name":"","active":false,"console":"false","complete":"payload.data","x":890,"y":400,"wires":[]},{"id":"ae13a7b5.8b65e8","type":"debug","z":"8e55d550.fdace","name":"x","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":120,"wires":[]},{"id":"dacba38a.846a3","type":"switch","z":"8e55d550.fdace","name":"Switch responseTypes","property":"oadr.responseType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"oadrCreatedOpt","vt":"str"},{"t":"eq","v":"oadrCanceledOpt","vt":"str"},{"t":"eq","v":"oadrCreateReport","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":520,"y":460,"wires":[["d1dbeffd.bb0208","7e9b3d4c.f22dd4"],["d1dbeffd.bb0208"],["d1dbeffd.bb0208","c933a8ae.a3cd6","7da8c8c3.b88918"],["d1dbeffd.bb0208","b2959ccb.aadb98"],["d1dbeffd.bb0208","7ae7f4c0.9ded9c"],[],[],["f7f3722a.3eaff"]]},{"id":"c933a8ae.a3cd6","type":"function","z":"8e55d550.fdace","name":"Handle DistributeEvents","func":"let data = msg.payload.data.oadrDistributeEvent;\n\nlet respMsg = {};\nrespMsg.payload = {};\nrespMsg.payload.requestID = data.requestID;\n//respMsg.payload.venID = '48ac6ed956e1f1f4fdbe';\n\nif(data.responseRequired === 'never'){\n    // don't repsone to broadcast messages\n    return;\n}\n\nrespMsg.payload.requestType = \"CreatedEvent\";\n\nlet eventArray = [];\n\nif(data.oadrEvent){\n    //console.log(data.oadrEvent.length);\n    if (data.oadrEvent.eiEvent){\n        xyz(data.oadrEvent);\n    }\n    else{\n        data.oadrEvent.forEach( event => {\n            xyz(event);\n        });\n    }\n    \n    if(eventArray.length > 0){\n        respMsg.payload.eventResponses = eventArray;\n    }\n    \n}\n\nfunction xyz(event){\n    // Don't respond if not requested\n    if (event.oadrResponseRequired === 'never'){\n        return;\n    }\n    \n    let optType;\n    \n    let ed = event.eiEvent.eventDescriptor;\n    \n    switch(ed.eventStatus.toLowerCase()){\n        case('completed'):\n        case('canceled'):\n            optType = 'optOut';\n            break;\n        default: \n            optType = 'optIn';\n            break;\n    }\n    \n    if(optType === 'optIn'){\n        switch(ed.eiMarketContext.marketContext.toLowerCase()){\n            case('demand_response'):\n            case('http://marketcontext1'):\n                break;\n            default:\n                optType = 'optOut';\n                break;\n        }\n    }\n    \n    optType = (ed.eventStatus.toLowerCase() === 'completed' )? 'optOut' : 'optIn';\n    \n    \n    let createdEvent = {\n    responseCode: 200,\n    responseDescription: 'OK',\n    //requestID: '11111111',\n    qualifiedEventID : {\n        eventID: ed.eventID,\n        modificationNumber: ed.modificationNumber\n    },\n    optType: optType\n    };\n    \n    // console.log(createdEvent);\n    eventArray.push(createdEvent);\n//        respMsg.payload.eventResponses.push(createdEvent);\n\n}\n\nreturn respMsg;","outputs":1,"noerr":0,"x":950,"y":180,"wires":[["ae13a7b5.8b65e8","d99abfd7.289bf8"]]},{"id":"b2959ccb.aadb98","type":"function","z":"8e55d550.fdace","name":"RegisterReport","func":"let requestID = msg.payload.data.oadrRegisterReport.requestID;\n\nmsg = {};\n\nmsg.payload = {\n    requestType: 'RegisteredReport',\n    requestID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":877.7500610351562,"y":285.45001220703125,"wires":[["906d37a6.0ab5e8","d99abfd7.289bf8"]]},{"id":"906d37a6.0ab5e8","type":"debug","z":"8e55d550.fdace","name":"regreport","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1062.25,"y":294.800048828125,"wires":[]},{"id":"55c52d1c.b6f984","type":"switch","z":"8e55d550.fdace","name":"Req or Rep","property":"oadr.msgType","propertyType":"msg","rules":[{"t":"eq","v":"request","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":323.4999694824219,"y":300.1999816894531,"wires":[["98771e79.ce4958"],["dacba38a.846a3"]]},{"id":"98771e79.ce4958","type":"switch","z":"8e55d550.fdace","name":"Switch requestTypes","property":"oadr.requestType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"Poll","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":560,"y":160,"wires":[[],[],["c933a8ae.a3cd6","7da8c8c3.b88918","bf94742c.63d558","ae13a7b5.8b65e8"],["b2959ccb.aadb98","d4832aa9.ff5728"],[],[]]},{"id":"d4832aa9.ff5728","type":"debug","z":"8e55d550.fdace","name":"","active":true,"console":"false","complete":"false","x":910.0000610351562,"y":228.7999267578125,"wires":[]},{"id":"7e9b3d4c.f22dd4","type":"function","z":"8e55d550.fdace","name":"","func":"if (typeof msg.oadr.pollFreqSeconds === 'number'){\n    flow.set(\"DEMO_VEN_NODE:pollRate\", msg.oadr.pollFreqSeconds );\n}\n\nlet _ids = {\n    vtnID: msg.payload.data.oadrCreatedPartyRegistration.vtnID,\n    venID: msg.payload.data.oadrCreatedPartyRegistration.venID,\n    registrationID: msg.payload.data.oadrCreatedPartyRegistration.registrationID,\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":861.875,"y":349.3124694824219,"wires":[["6074a3da.d87644","dab71789.5884c"]]},{"id":"6074a3da.d87644","type":"link out","z":"8e55d550.fdace","name":"","links":[],"x":1106.625,"y":419.875,"wires":[]},{"id":"7ae7f4c0.9ded9c","type":"function","z":"8e55d550.fdace","name":"","func":"flow.set(\"DEMO_VEN_NODE:pollRate\", 0 );\n\nlet _ids = {\n    vtnID: \"\",\n    venID: \"\",\n    registrationID: \"\"\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"x":823.5,"y":510.2499694824219,"wires":[["6074a3da.d87644","3754c6b1.f6c37a"]]},{"id":"3754c6b1.f6c37a","type":"debug","z":"8e55d550.fdace","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1044.875,"y":508.125,"wires":[]},{"id":"dab71789.5884c","type":"debug","z":"8e55d550.fdace","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1046.8748779296875,"y":342.875,"wires":[]},{"id":"7da8c8c3.b88918","type":"link out","z":"8e55d550.fdace","name":"","links":[],"x":800.375,"y":459.6250305175781,"wires":[]},{"id":"d99abfd7.289bf8","type":"link out","z":"8e55d550.fdace","name":"","links":["14f21cd6.9b759b"],"x":1095,"y":240,"wires":[]},{"id":"bf94742c.63d558","type":"debug","z":"8e55d550.fdace","name":"Req Dist Event","active":true,"console":"false","complete":"true","x":888.125,"y":119.1249942779541,"wires":[]},{"id":"f7f3722a.3eaff","type":"function","z":"8e55d550.fdace","name":"Handle CreateReports","func":"let data = msg.payload.data.oadrCreateReport;\n\nlet requestArray = [];\n\nif(data.oadrReportRequest){\n   requestArray.push(data.oadrReportRequest)\n\n}\nmsg.payload.data.oadrCreateReport = requestArray;\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":560,"wires":[["440ea9c5.e1ea2"]]},{"id":"440ea9c5.e1ea2","type":"link out","z":"8e55d550.fdace","name":"","links":[],"x":995,"y":560,"wires":[]},{"id":"3e99f85a.6e8f2","type":"VEN","z":"8e55d550.fdace","name":"mouaiccool","url":"https://192.168.10.42:8181/testvtn","tls":"","profile":"2.0b","pushport":"8082","pushurl":"","venid":"5B:9B:BF:21:33:A0:DF:6B:21:81","pollrate":"5","log":false,"pathlog":"","x":230,"y":220,"wires":[["55c52d1c.b6f984"]]},{"id":"14f21cd6.9b759b","type":"link in","z":"8e55d550.fdace","name":"OADR","links":["d99abfd7.289bf8"],"x":95,"y":340,"wires":[["3e99f85a.6e8f2"]]},{"id":"a5e6fbf0.ad616","type":"function","z":"82d190e4.5ba288","name":"oadrRequestReregistration","func":"var resMsg = {}\nresMsg.payload = {}\nresMsg.payload.opType = \"response\"\nresMsg.payload.responseType = \"Response\"\nresMsg.payload.responseCode = \"200\"\nresMsg.payload.responseDescription = \"\"\nresMsg.payload.requestID = msg.oadr.requestID\n\nvar regMsg = {}\nregMsg.payload = {};\nregMsg.payload.requestType = \"QueryRegistration\";\n\nnode.send(regMsg)\n\nreturn resMsg;","outputs":1,"noerr":0,"x":940,"y":240,"wires":[["2b9aa15c.af16be"]]},{"id":"f8ff54fb.4c1dd","type":"function","z":"82d190e4.5ba288","name":"oadrCancelPartyRegistration","func":"var resMsg = {}\nresMsg.payload = {}\nresMsg.payload.opType = \"response\"\nresMsg.payload.responseType = \"CanceledPartyRegistration\"\nresMsg.payload.responseCode = \"200\"\nresMsg.payload.responseDescription = \"\"\nresMsg.payload.requestID = msg.oadr.requestID\n\n\nreturn resMsg;","outputs":1,"noerr":0,"x":940,"y":280,"wires":[["2b9aa15c.af16be"]]},{"id":"d351a654.8d51a8","type":"function","z":"82d190e4.5ba288","name":"oadrCreateReport","func":"var resMsg = {}\nresMsg.payload = {}\nresMsg.payload.opType = \"response\"\nresMsg.payload.responseType = \"CreatedReport\"\nresMsg.payload.responseCode = \"200\"\nresMsg.payload.responseDescription = \"\"\nresMsg.payload.requestID = msg.oadr.requestID\n\n\nconsole.log(resMsg)\n\nreturn resMsg;","outputs":1,"noerr":0,"x":930,"y":320,"wires":[["2b9aa15c.af16be"]]},{"id":"19dcfb71.2a661d","type":"function","z":"82d190e4.5ba288","name":"oadrCancelReport","func":"var resMsg = {}\nresMsg.payload = {}\nresMsg.payload.opType = \"response\"\nresMsg.payload.responseType = \"CanceledReport\"\nresMsg.payload.responseCode = \"200\"\nresMsg.payload.responseDescription = \"\"\nresMsg.payload.requestID = msg.oadr.requestID\n\n\nconsole.log(resMsg)\n\nreturn resMsg;","outputs":1,"noerr":0,"x":930,"y":360,"wires":[["2b9aa15c.af16be"]]},{"id":"7e44d7f.ca60e28","type":"inject","z":"82d190e4.5ba288","name":"","topic":"","payload":"RegisterReport","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":1340,"wires":[["ef189298.6f4ae"]]},{"id":"ef189298.6f4ae","type":"function","z":"82d190e4.5ba288","name":"Multiple RegisterReport","func":"msg.payload = {}\n\nvar dt = new Date().toISOString();\nvar reportTestTelemetry = {\n   \"eiReportID\": \"reportTestTelemetry\",\n   \"reportRequestID\": \"0\",\n   \"reportSpecifierID\": \"reportTestTelemetry\",\n   \"reportName\": \"METADATA_TELEMETRY_USAGE\",\n   \"createdDateTime\": dt,\n   oadrReportDescription: [\n        {\n            \"rid\": \"reportTestTelemetry_rid\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        } \n    ]\n}\n\nvar start = new Date(2018,0,1).toISOString();\nvar reportTestHistory = {\n   \"eiReportID\": \"reportTestHistory\",\n   \"reportRequestID\": \"0\",\n   \"reportSpecifierID\": \"reportTestHistory\",\n   \"reportName\": \"METADATA_HISTORY_USAGE\",\n   \"createdDateTime\": dt,\n   \"duration\": \"P1Y\",\n   \"dtstart\": start,\n   oadrReportDescription: [\n        {\n            \"rid\": \"reportTestTelemetry_rid_1\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        },\n        {\n            \"rid\": \"reportTestTelemetry_rid_2\",\n            \"reportType\": \"operatingState\",\n            \"readingType\": \"Direct Read\",\n            \"oadrSamplingRate\": {\n                oadrMinPeriod: 'PT15M',\n                oadrMaxPeriod: 'PT24H',\n                oadrOnChange:  'false'\n            }\n        } \n    ]\n}\n\nvar payload = {\n    requestID:\"0\",\n    venID:global.get(\"DEMO_VEN_NODE:IDs\").venID,\n    oadrReport: [\n       reportTestTelemetry,\n       reportTestHistory\n    ]\n}\n\nnode.log(payload)\n\nmsg.payload = {\n    requestType: 'RegisterReport',\n    oadrRegisterReport: payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1340,"wires":[["682b84c2.2a59ac"]]},{"id":"f101e708.601fa","type":"inject","z":"82d190e4.5ba288","name":"Register w/ Push xmlSignature","topic":"","payload":"CreatePartyRegistration","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":840,"wires":[["e8a2c54d.b40b18"]]},{"id":"e8a2c54d.b40b18","type":"function","z":"82d190e4.5ba288","name":"CreateParty Push","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"CreatePartyRegistration\",\n    oadrHttpPullModel: false,\n    xmlSignature: true,\n    //oadrTransportAddress: 'http://localhost:8843'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":840,"wires":[["682b84c2.2a59ac"]]}]