examples/demoflow.json
[{"id":"e86ed624.e12338","type":"tab","label":"OADR Logic","disabled":false,"info":""},{"id":"15acd831.bb5008","type":"inject","z":"e86ed624.e12338","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"QueryRegistration","payloadType":"str","x":207.25009155273438,"y":556.6500244140625,"wires":[["e4800cba.db573"]]},{"id":"3b62746d.60be7c","type":"inject","z":"e86ed624.e12338","name":"","props":[{"p":"payload","v":"CreatePartyRegistration","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"CreatePartyRegistration","payloadType":"str","x":217.50006103515625,"y":598.25,"wires":[["e4800cba.db573"]]},{"id":"8b55825f.518ac","type":"inject","z":"e86ed624.e12338","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"RequestEvent","payloadType":"str","x":188.25003051757812,"y":763.7499389648438,"wires":[["e4800cba.db573"]]},{"id":"1157a87b.e04578","type":"inject","z":"e86ed624.e12338","name":"Single Poll","props":[{"p":"payload","v":"Poll","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Poll","payloadType":"str","x":180,"y":840,"wires":[["e4800cba.db573"]]},{"id":"381bd614.c3583a","type":"inject","z":"e86ed624.e12338","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"CancelPartyRegistration","payloadType":"str","x":228.50009155273438,"y":682,"wires":[["e4800cba.db573"]]},{"id":"65a3a5c3.ea170c","type":"debug","z":"e86ed624.e12338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":340,"wires":[]},{"id":"1fa2af1a.f9bc01","type":"debug","z":"e86ed624.e12338","name":"","active":true,"console":"false","complete":"true","x":530,"y":65.79998016357422,"wires":[]},{"id":"9f6b559c.f33ab8","type":"inject","z":"e86ed624.e12338","name":"venID","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"DEMO_VEN_NODE:IDs.venID","payloadType":"global","x":985.75,"y":553.9000244140625,"wires":[["36765dd6.ef2052"]]},{"id":"36765dd6.ef2052","type":"debug","z":"e86ed624.e12338","name":"","active":true,"console":"false","complete":"false","x":1182.75,"y":588.5499877929688,"wires":[]},{"id":"674504dd.d2c16c","type":"inject","z":"e86ed624.e12338","name":"vtnID","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"DEMO_VEN_NODE:IDs.vtnID","payloadType":"global","x":984.5,"y":603.5000305175781,"wires":[["36765dd6.ef2052"]]},{"id":"7c86daa.df60924","type":"inject","z":"e86ed624.e12338","name":"registrationID","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"DEMO_VEN_NODE:IDs.registrationID","payloadType":"global","x":967.75,"y":646.75,"wires":[["36765dd6.ef2052"]]},{"id":"fa0d543.af696a8","type":"debug","z":"e86ed624.e12338","name":"x","active":true,"console":"false","complete":"payload","x":1043.75,"y":58.27222442626953,"wires":[]},{"id":"dc854de7.e655d","type":"switch","z":"e86ed624.e12338","name":"Switch responseTypes","property":"oadr.responseType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisteredReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"},{"t":"eq","v":"oadrCreatedOpt","vt":"str"},{"t":"eq","v":"oadrCanceledOpt","vt":"str"},{"t":"eq","v":"oadrCreateReport","vt":"str"},{"t":"eq","v":"oadrUpdateReport","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":500,"y":300,"wires":[["65a3a5c3.ea170c","e3d565c5.dd8958"],["65a3a5c3.ea170c"],["65a3a5c3.ea170c","97252529.29c8f8","85065f63.01769"],["52598da0d4561483"],["65a3a5c3.ea170c","a4c64801.402038"],[],[],["98b5c071fb9a1a2d"],[]]},{"id":"e965546e.fa4cb8","type":"comment","z":"e86ed624.e12338","name":"Registration requests","info":"","x":217.50009155273438,"y":516.6900024414062,"wires":[]},{"id":"e4800cba.db573","type":"function","z":"e86ed624.e12338","name":"convert simple payload string to requestType","func":"let req = msg.payload;\nmsg.payload = {};\nmsg.payload.requestType = req;\nreturn msg;","outputs":1,"noerr":0,"x":587.2501525878906,"y":556.9500122070312,"wires":[["28f7da27.6bed26"]]},{"id":"97252529.29c8f8","type":"function","z":"e86ed624.e12338","name":"Handle DistributeEvents","func":"let data = msg.payload.data.oadrDistributeEvent;\n\nlet respMsg = {};\nrespMsg.payload = {};\nrespMsg.payload.requestID = data.requestID;\n//respMsg.payload.venID = '48ac6ed956e1f1f4fdbe';\n\nif(data.responseRequired === 'never'){\n    // don't repsone to broadcast messages\n    return;\n}\n\nrespMsg.payload.requestType = \"CreatedEvent\";\n\nlet eventArray = [];\n\nif(data.oadrEvent){\n    //console.log(data.oadrEvent.length);\n    if (data.oadrEvent.eiEvent){\n        xyz(data.oadrEvent);\n    }\n    else{\n        data.oadrEvent.forEach( event => {\n            xyz(event);\n        });\n    }\n    \n    if(eventArray.length > 0){\n        respMsg.payload.eventResponses = eventArray;\n    }\n    \n}\n\nfunction xyz(event){\n    // Don't respond if not requested\n    if (event.oadrResponseRequired === 'never'){\n        return;\n    }\n    \n    let optType;\n    \n    let ed = event.eiEvent.eventDescriptor;\n    \n    switch(ed.eventStatus.toLowerCase()){\n        case('completed'):\n        case('canceled'):\n            optType = 'optOut';\n            break;\n        default: \n            optType = 'optIn';\n            break;\n    }\n    \n    if(optType === 'optIn'){\n        switch(ed.eiMarketContext.marketContext.toLowerCase()){\n            case('demand_response'):\n            case('http://marketcontext1'):\n                break;\n            default:\n                optType = 'optOut';\n                break;\n        }\n    }\n    \n    optType = (ed.eventStatus.toLowerCase() === 'completed' )? 'optOut' : 'optIn';\n    \n    \n    let createdEvent = {\n    responseCode: 200,\n    responseDescription: 'OK',\n    //requestID: '11111111',\n    qualifiedEventID : {\n        eventID: ed.eventID,\n        modificationNumber: ed.modificationNumber\n    },\n    optType: optType\n    };\n    \n    // console.log(createdEvent);\n    eventArray.push(createdEvent);\n//        respMsg.payload.eventResponses.push(createdEvent);\n\n}\n\nreturn respMsg;","outputs":1,"noerr":0,"x":859.83349609375,"y":102.69998168945312,"wires":[["fa0d543.af696a8","5339ff4a.aa144"]]},{"id":"9c05449.1c75cb8","type":"function","z":"e86ed624.e12338","name":"CreateParty Push","func":"msg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"CreatePartyRegistration\",\n    oadrHttpPullModel: false,\n    //oadrTransportAddress: 'http://localhost:8843'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":504.583251953125,"y":645.5,"wires":[["28f7da27.6bed26"]]},{"id":"dd98dea0.a9837","type":"inject","z":"e86ed624.e12338","name":"Register w/ Push","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"CreatePartyRegistration","payloadType":"str","x":200.55548095703125,"y":643.9166259765625,"wires":[["9c05449.1c75cb8"]]},{"id":"f386e63f.4afcb8","type":"function","z":"e86ed624.e12338","name":"RegisterReport","func":"let requestID = msg.payload.data.oadrRegisterReport.requestID;\n\nmsg = {};\n\nmsg.payload = {\n    requestType: 'RegisteredReport',\n    requestID\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":817.7500610351562,"y":205.45001220703125,"wires":[["c113332d.96f5e","5339ff4a.aa144"]]},{"id":"c113332d.96f5e","type":"debug","z":"e86ed624.e12338","name":"regreport","active":true,"console":"false","complete":"payload","x":1002.25,"y":214.800048828125,"wires":[]},{"id":"2ae9c424.9e604c","type":"switch","z":"e86ed624.e12338","name":"Req or Rep","property":"oadr.msgType","propertyType":"msg","rules":[{"t":"eq","v":"request","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":263.4999694824219,"y":220.19998168945312,"wires":[["794b1b20.812c14","f0dc60bd.b62e"],["dc854de7.e655d"]]},{"id":"f0dc60bd.b62e","type":"switch","z":"e86ed624.e12338","name":"Switch requestTypes","property":"oadr.requestType","propertyType":"msg","rules":[{"t":"eq","v":"oadrCreatedPartyRegistration","vt":"str"},{"t":"eq","v":"oadrResponse","vt":"str"},{"t":"eq","v":"oadrDistributeEvent","vt":"str"},{"t":"eq","v":"oadrRegisterReport","vt":"str"},{"t":"eq","v":"oadrCanceledPartyRegistration","vt":"str"}],"checkall":"true","outputs":5,"x":500,"y":140,"wires":[[],[],["97252529.29c8f8","85065f63.01769","9e41022e.b4547","fa0d543.af696a8"],["c89f7068.c5cb5"],[]]},{"id":"c89f7068.c5cb5","type":"debug","z":"e86ed624.e12338","name":"","active":true,"console":"false","complete":"false","x":850.0000610351562,"y":148.7999267578125,"wires":[]},{"id":"794b1b20.812c14","type":"debug","z":"e86ed624.e12338","name":"","active":true,"console":"false","complete":"payload","x":509.250244140625,"y":215.050048828125,"wires":[]},{"id":"86ae40c9.893cc","type":"function","z":"e86ed624.e12338","name":"Auto Poll","func":"var pollMsg = {\n    payload: {\n        requestType : \"Poll\"\n    }\n};\n\n\n\nvar flowvar = `${msg.oadr.venName}:pollRate`.replace(\".\",\"_\");\nvar pollInt = flow.get(flowvar) || 0;\n\nif (pollInt === 0) return;\n\nvar it = setInterval(doPolling, pollInt * 1000);\n\nnode.status( { fill: \"green\", shape: \"dot\", text: \"Polling sec: \" + pollInt});\n\nfunction doPolling(){\n    var newPollingInt = flow.get(flowvar);\n    if (newPollingInt === 0){\n        clearInterval(it);\n        node.status( { fill: \"red\", shape: \"dot\", text: \"Polling: stopped\"});\n        return;\n    }\n    if (newPollingInt != pollInt){\n        clearInterval(it);\n        hbInt = newPollingInt;\n        it = setInterval(doPolling, pollInt * 1000);\n        node.status( { fill: \"green\", shape: \"dot\", text: \"Polling sec: \" + pollInt});\n    }\n    node.send(pollMsg);\n}\n\nnode.on('close', function(){\n    clearInterval(it);\n    node.status( { fill: \"red\", shape: \"dot\", text: \"Polling: stopped\"});\n})\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":900,"wires":[["28f7da27.6bed26"]]},{"id":"7dbdba03.b346d4","type":"inject","z":"e86ed624.e12338","name":"Toggle Polling","props":[{"p":"payload","v":"5","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"5","payloadType":"num","x":190,"y":920,"wires":[["86ae40c9.893cc"]]},{"id":"61086df6.2d4894","type":"link in","z":"e86ed624.e12338","name":"OADR","links":["34dd8f26.4d23a","28f7da27.6bed26","5339ff4a.aa144","6f63b46270aca2e8"],"x":55,"y":80,"wires":[["8e8932f36cf19dd3","594e0f08b6b57cc7","af5cf92dea59a3a6"]]},{"id":"e3d565c5.dd8958","type":"function","z":"e86ed624.e12338","name":"","func":"if (typeof msg.oadr.pollFreqSeconds === 'number'){\n    flow.set(`${msg.oadr.venName}:pollRate`.replace(\".\",\"_\"), msg.oadr.pollFreqSeconds );\n}\n\nlet _ids = {\n    vtnID: msg.payload.data.oadrCreatedPartyRegistration.vtnID,\n    venID: msg.payload.data.oadrCreatedPartyRegistration.venID,\n    registrationID: msg.payload.data.oadrCreatedPartyRegistration.registrationID,\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":801.875,"y":269.3124694824219,"wires":[["d4a6366b.759f08","3173dedd.cb5532","c2e3f0f7e3c2ad9e"]]},{"id":"d4a6366b.759f08","type":"link out","z":"e86ed624.e12338","name":"","links":["96dff4eb.3602b8"],"x":1046.625,"y":339.875,"wires":[]},{"id":"a4c64801.402038","type":"function","z":"e86ed624.e12338","name":"","func":"flow.set(`${msg.oadr.venName}:pollRate`, 0 );\n\nlet _ids = {\n    vtnID: \"\",\n    venID: \"\",\n    registrationID: \"\"\n}\n\nmsg.payload = _ids;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":440,"wires":[["d4a6366b.759f08","d691e16d.fe0a"]]},{"id":"d691e16d.fe0a","type":"debug","z":"e86ed624.e12338","name":"","active":true,"console":"false","complete":"false","x":950,"y":440,"wires":[]},{"id":"3173dedd.cb5532","type":"debug","z":"e86ed624.e12338","name":"","active":true,"console":"false","complete":"false","x":1006.8748779296875,"y":262.875,"wires":[]},{"id":"85065f63.01769","type":"link out","z":"e86ed624.e12338","name":"","links":["2ea59e3a.ac7632"],"x":740.375,"y":379.6250305175781,"wires":[]},{"id":"28f7da27.6bed26","type":"link out","z":"e86ed624.e12338","name":"","links":["61086df6.2d4894"],"x":795.625,"y":711.6250305175781,"wires":[]},{"id":"5339ff4a.aa144","type":"link out","z":"e86ed624.e12338","name":"","links":["61086df6.2d4894"],"x":1046.875,"y":150.37493896484375,"wires":[]},{"id":"dfa06c54.fd035","type":"comment","z":"e86ed624.e12338","name":"Show Globals","info":"","x":968.125,"y":504.31249618530273,"wires":[]},{"id":"9e41022e.b4547","type":"debug","z":"e86ed624.e12338","name":"Req Dist Event","active":true,"console":"false","complete":"true","x":828.125,"y":39.1249942779541,"wires":[]},{"id":"d4476889.c0d448","type":"function","z":"e86ed624.e12338","name":"OptIn Multiple","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\nlet d2 = new Date();\nlet d3 = new Date();\nd2.setDate(d1.getDate() + 1);\nd3.setDate(d2.getDate() + 1);\n\nlet components = [];\n\nlet available = {\n        properties: {\n            dtstart: {\n                'date-time': d1.toISOString()\n            },\n            duration: {\n                duration: 'PT5M'\n            }\n        }\n            \n    };\n\navailable.properties.dtstart['date-time'] = d1.toISOString();\navailable.properties.duration.duration = 'PT5M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT2M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\navailable.properties.dtstart['date-time'] = d2.toISOString();\navailable.properties.duration.duration = 'PT10M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT12M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\navailable.properties.dtstart['date-time'] = d3.toISOString();\navailable.properties.duration.duration = 'PT15M';\navailable.properties['ei:x-eiRampUp'] = {\n    duration: 'PT22M'\n};\ncomponents.push(JSON.parse(JSON.stringify(available)));\n\n\nmsg.payload = { \n    requestType: \"CreateOpt\",\n    optType: 'optIn',\n    optReason: 'economic',\n    marketContext: 'http://MarketContext1',\n    components: components\n};\n\n\n//    dtstart: d1,\n//    duration: 'PT1H30M'\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":411.22222900390625,"y":969.7222290039062,"wires":[["28f7da27.6bed26"]]},{"id":"f02713d2.47956","type":"inject","z":"e86ed624.e12338","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"OptIn","payloadType":"str","x":166.11111450195315,"y":968.4999389648438,"wires":[["d4476889.c0d448"]]},{"id":"cde25fe3.ec47a","type":"function","z":"e86ed624.e12338","name":"OptOut 1H15M","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\nd1.setDate(15);\n\nmsg.payload = { \n    requestType: \"CreateOpt\",\n    optType: 'optOut',\n    optID: '111111111-OUT',\n    optReason: 'economic',\n    marketContext: 'http://MarketContext1',\n    resourceID: 'XYZ',\n    dtstart: d1.toISOString(),\n    duration: 'PT1H15M'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410.55560302734375,"y":1024.2222900390625,"wires":[["28f7da27.6bed26"]]},{"id":"73f499b7.ace6f8","type":"function","z":"e86ed624.e12338","name":"Cancel OptOut 1H15M","func":"msg = {};\nmsg.payload = {};\n\nlet d1 = new Date();\n\nmsg.payload = { \n    requestType: \"CancelOpt\",\n    optID: '111111111-OUT'\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":425.11114501953125,"y":1063.4443359375,"wires":[["28f7da27.6bed26"]]},{"id":"b9eef4b6.4635c8","type":"inject","z":"e86ed624.e12338","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"OptOut","payloadType":"str","x":164.33331298828125,"y":1021.833251953125,"wires":[["cde25fe3.ec47a"]]},{"id":"58e4d604.ddedf8","type":"inject","z":"e86ed624.e12338","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Cancel Opt","payloadType":"str","x":172.77777099609375,"y":1062.833251953125,"wires":[["73f499b7.ace6f8"]]},{"id":"f7999c6f.b6dad","type":"function","z":"e86ed624.e12338","name":"2.0a requestEvent","func":"// let venID = '48ac6ed956e1f1f4fdbe';\nmsg = {};\nmsg.payload = {};\n\nmsg.payload = { \n    requestType: \"RequestEvent\",\n//    venID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":451.5,"y":809.449951171875,"wires":[["28f7da27.6bed26"]]},{"id":"a45e09a8.521448","type":"inject","z":"e86ed624.e12338","name":"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"RequestEvent 2.0a","payloadType":"str","x":209,"y":807,"wires":[["f7999c6f.b6dad"]]},{"id":"31ed5823.3189c8","type":"inject","z":"e86ed624.e12338","name":"venID","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"DEMO_VEN_20A:IDs.venID","payloadType":"global","x":977,"y":741,"wires":[["36765dd6.ef2052"]]},{"id":"dc16532e.ca34b","type":"inject","z":"e86ed624.e12338","name":"vtnID","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"DEMO_VEN_20A:IDs.vtnID","payloadType":"global","x":975.75,"y":790.6000061035156,"wires":[["36765dd6.ef2052"]]},{"id":"9a45f822.15ce48","type":"inject","z":"e86ed624.e12338","name":"registrationID","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"DEMO_VEN_20A:IDs.registrationID","payloadType":"global","x":959,"y":833.8499755859375,"wires":[["36765dd6.ef2052"]]},{"id":"57cd28c0.272458","type":"inject","z":"e86ed624.e12338","name":"Report realPower","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"form\":{\"power:powerReal\":{\"_attr\":{\"xmlns:scale\":\"http://docs.oasis-open.org/ns/emix/2011/06/siscale\",\"xmlns:power\":\"http://docs.oasis-open.org/ns/emix/2011/06/power\"},\"power:itemDescription\":\"RealPower\",\"power:itemUnits\":\"W\",\"scale:siScaleCode\":\"none\",\"power:powerAttributes\":{\"power:hertz\":60,\"power:voltage\":240,\"power:ac\":true}}},\"specID\":\"sid_realpower_device1\",\"reportName\":\"METADATA_TELEMETRY_STATUS\"}","payloadType":"json","x":189,"y":1120,"wires":[["d353dce4.ee2a7"]]},{"id":"d353dce4.ee2a7","type":"function","z":"e86ed624.e12338","name":"Single RegisterReport","func":"//msg.payload = {}\n\nvar dt = new Date().toISOString();\n\n// msg.payload.marketContext = 'http://MarketContext1';\n\n\nmsg.payload = {\n    requestType: 'RegisterReport',\n    duration: 'PT2H',\n    createdDateTime: dt,\n    dataSource: \"device1\",\n    rID: 'resource1_status',\n    resourceID: 'resource1',\n    reportType: 'reading',\n    readingType: 'Direct Read',\n    oadrMinPeriod: 'PT10S',\n    oadrMaxPeriod: 'PT10S',\n    oadrOnChange: false,\n    reportRequestID: 0,\n    reportSpecifierID: msg.payload.specID ,\n    reportName: msg.payload.reportName,\n    reportForm: msg.payload.form\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1120,"wires":[["28f7da27.6bed26","4395fd04133bc9eb"]]},{"id":"8e8932f36cf19dd3","type":"VEN","z":"e86ed624.e12338","d":true,"name":"ANLtest","vtnconfig":"a388d588f1943f89","profile":"2.0b","pushport":"","pushurl":"","venid":"","pollrate":"5","log":false,"pathlog":"","x":210,"y":80,"wires":[["2ae9c424.9e604c","1fa2af1a.f9bc01"]]},{"id":"594e0f08b6b57cc7","type":"VEN","z":"e86ed624.e12338","name":"ANLNODERED","vtnconfig":"2aeee916d26a1434","profile":"2.0b","pushport":"","pushurl":"","venid":"185","pollrate":"5","log":false,"pathlog":"","x":226,"y":37,"wires":[["1fa2af1a.f9bc01","2ae9c424.9e604c"]]},{"id":"8bf151462f694dd8","type":"link in","z":"e86ed624.e12338","name":"AutoPoll","links":["983fe642bd3ed673","c2e3f0f7e3c2ad9e"],"x":265,"y":880,"wires":[["2ce4bccf636eb8b0","86ae40c9.893cc"]]},{"id":"2ce4bccf636eb8b0","type":"debug","z":"e86ed624.e12338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":860,"wires":[]},{"id":"c2e3f0f7e3c2ad9e","type":"link out","z":"e86ed624.e12338","name":"","links":["8bf151462f694dd8"],"x":935,"y":340,"wires":[]},{"id":"52598da0d4561483","type":"debug","z":"e86ed624.e12338","name":"Reg'd Report","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":300,"wires":[]},{"id":"af5cf92dea59a3a6","type":"VEN","z":"e86ed624.e12338","d":true,"name":"qmulus.test","vtnconfig":"c2324a42f0becc04","profile":"2.0b","pushport":"","pushurl":"","venid":"qmulus.test","pollrate":"5","log":false,"pathlog":"","x":210,"y":140,"wires":[["2ae9c424.9e604c","1fa2af1a.f9bc01"]]},{"id":"4395fd04133bc9eb","type":"debug","z":"e86ed624.e12338","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":1120,"wires":[]},{"id":"bc88ba3dafc446d0","type":"inject","z":"e86ed624.e12338","name":"Report Voltage","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"form\":{\"power:voltage\":{\"_attr\":{\"xmlns:scale\":\"http://docs.oasis-open.org/ns/emix/2011/06/siscale\",\"xmlns:power\":\"http://docs.oasis-open.org/ns/emix/2011/06/power\"},\"power:itemDescription\":\"Voltage\",\"power:itemUnits\":\"V\",\"scale:siScaleCode\":\"none\"}},\"specID\":\"sid_voltage_device1\",\"reportName\":\"METADATA_TELEMETRY_USAGE\"}","payloadType":"json","x":180,"y":1160,"wires":[["d353dce4.ee2a7"]]},{"id":"98b5c071fb9a1a2d","type":"function","z":"e86ed624.e12338","name":"CreatedReport","func":"\nmsg.payload = {\n    requestType: \"CreatedReport\",\n    requestID: msg.payload.data.oadrCreateReport.oadrReportRequest.reportRequestID\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":420,"wires":[["594e0f08b6b57cc7"]]},{"id":"a388d588f1943f89","type":"OpenADR-VTN","name":"GridFabric ANLtest","tls":"79fe02a4833505be","url":"https://canvas.gridfabric.io:4433/oadrapi/ven/argonne","authuser":"","authpw":""},{"id":"2aeee916d26a1434","type":"OpenADR-VTN","name":"GridFabric NR","tls":"e64e8f5f607e1bf3","url":"https://canvas.gridfabric.io:4433/oadrapi/ven/argonne","authuser":"","authpw":""},{"id":"c2324a42f0becc04","type":"OpenADR-VTN","name":"enersponse_vtn","tls":"","url":"https://drms-stg.enersponse.com/api/vtn","authuser":"qmulus.test","authpw":"qmulus.test"},{"id":"79fe02a4833505be","type":"tls-config","name":"GridFabric","cert":"","key":"","ca":"","certname":"TEST_RSA_VEN_210803182953_cert.pem","keyname":"TEST_RSA_VEN_210803182953_privkey.pem","caname":"certchain.pem","servername":"","verifyservercert":false,"alpnprotocol":""},{"id":"e64e8f5f607e1bf3","type":"tls-config","name":"GridFabric NR","cert":"","key":"","ca":"","certname":"TEST_RSA_VEN_211004195046_cert.pem","keyname":"TEST_RSA_VEN_211004195046_privkey.pem","caname":"","servername":"","verifyservercert":true,"alpnprotocol":""}]